<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Job triggered by jenkins job: "emsPublishAMI" or manual.&#13;
This job creating new ovoc azure image and generating SAS URL (URL to download the vhd file)&#13;
1. get OVOC Tag as parameter&#13;
2. download ovoc_azure_image_update.py file from artifactory&#13;
3. creating new VM from the OVOC-Template base image (500GB)&#13;
4.run "ovoc_azure_image_update.py" on the new VM (running update-hosts-file and adding dns suffix to /etc/resolv.conf)&#13;
5.run sanityInstall on the new VM&#13;
6.run "ovoc_azure_image_update.py" again to delete all important information from the VM&#13;
7. Generate SAS URL&#13;
8. delete the VM&#13;
10. send an email with the SAS URL</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>NEW_TAG</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@test-gerrit:29418/EMS/ovoc_server.git</url>
        <credentialsId>fef9964a-ddb7-4ce6-a445-a99a9e9802c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>server_${NEW_TAG}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
        <deleteUntrackedNestedRepositories>false</deleteUntrackedNestedRepositories>
      </hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <noTags>false</noTags>
        <reference/>
        <depth>1</depth>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <assignedNode>azure_ovoc_slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>NEW_TAG_WithoutDots=${NEW_TAG//./}
container_name="ovoc${NEW_TAG_WithoutDots}"
ISO_DEPLOY_DESTINATION="official_iso"
admin_username="acovoc"
base_image="https://ciresourcegroupstorage.blob.core.windows.net/vhds/OVOC-Template.vhd"
VmSize="Standard_D4s_v3"
vhd_storage_account="ciresourcegroupstorage"
subnet="Net_172.16.100.0"
vnet_name="CI_Resource_Group"
security_group="createOvocImageSG"
vhd_name="OVOC_${NEW_TAG}"
VmName="OVOC${NEW_TAG}"
ResourceGroupName="CI_Resource_Group"
echo "vhd_name=${vhd_name}" &gt; properties
#details of service principal app (test-jenkins) to connect azure cli
test_jenkins_app_id="666a283f-ae93-4069-8e2e-cb35cca51cfa"
test_jenkins_tenant_id="1911c65c-893b-42f9-83fa-66c1b86fdf85"

#connect to azure cli
az login --service-principal -u ${test_jenkins_app_id} -p ${test_jenkins_secret_key} --tenant ${test_jenkins_tenant_id}
#create new VM
az vm create \
    --resource-group ${ResourceGroupName} \
    --name ${VmName} \
    --image ${base_image} \
    --admin-username ${admin_username} \
    --admin-password ${admin_password} \
    --size ${VmSize} \
	--public-ip-address "" \
    --use-unmanaged-disk \
	--storage-account "${vhd_storage_account}" \
    --subnet ${subnet} \
    --vnet-name ${vnet_name} \
    --nsg ${security_group} \
    --os-type linux \
    --os-disk-name ${vhd_name} \
    --storage-container-name ${container_name} \
    --tags 'Name=AzureOvocSanityInstall' 'Creator=Jenkins'
#wait for VM will be created
az vm wait -g ${ResourceGroupName} -n ${VmName} --created

#get new VM IP
vmIP=$(az vm list-ip-addresses -g ${ResourceGroupName} -n ${VmName} --query "[*].virtualMachine.network.privateIpAddresses[0]" --output tsv)

#wait for the vm to be running
#az vm wait -g ${ResourceGroupName} -n ${VmName} --custom "instanceView.statuses[1].[?code=='PowerState/running']"
current_status=$(az vm get-instance-view --name ${VmName} --resource-group ${ResourceGroupName} --query instanceView.statuses[1].[code] --output tsv)
echo "Wait until the VM is up"
count=0
while true
do
	sleep 20
	current_status=$(az vm get-instance-view --name ${VmName} --resource-group ${ResourceGroupName} --query instanceView.statuses[1].[code] --output tsv)
	((count+=1))
	if [[ "$current_status" == "PowerState/running" ]]
	then
		break
	fi
    #if count=6 (wait 2 min) then exit the job with failure (some error with the VM that is not running)
    if [[ $count == "6" ]]
    then
    	echo "Failed to start the VM... exiting the build"
        exit 1
    fi
done
echo "Wait until VM is fully loaded"
sleep 60


cd EMS/VersionRelease
#run script "ovoc-Azure-image-update.py" before installation to run  update-hosts-file script
python ovoc_azure_image_update.py $NEW_TAG $vmIP before_install
#run SanityInstall
python SanityInstall.py $NEW_TAG $vmIP $ISO_DEPLOY_DESTINATION

#run script "ovoc-Azure-image-update.py" before installation to run  update-hosts-file script
python ovoc_azure_image_update.py $NEW_TAG $vmIP after_install



#create SAS URL to send
start_date=$(date --utc +%FT%TZ -d "-1 day")
expire_date=$(date --utc +%FT%TZ -d "+2 month")
URL=$(az storage blob url --connection-string ${connection_string} -c ${container_name} -n "${vhd_name}.vhd" -o tsv)
SAS_URL=$(az storage container generate-sas --connection-string ${connection_string} --name ${container_name} --permissions rl --start "${start_date}" --expiry "${expire_date}" -o tsv)
download_URL="${URL}?${SAS_URL}"
#delete VM the new security group and the nic
az resource delete --ids $(az resource list --tag Name=AzureOvocSanityInstall -otable --query "[].id" -otsv)

cd ${WORKSPACE}
echo "download_URL=${download_URL}" &gt;&gt; properties
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.3.0">
      <info>
        <propertiesFilePath>properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>Build was aborted</logText>
              <operator>OR</operator>
            </hudson.plugins.postbuildtask.LogProperties>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>marked build as failure</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>az resource delete --ids $(az resource list --tag Name=AzureOvocSanityInstall -otable --query "[].id" -otsv)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>ben.magriso</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
      <recipientList>Gal.Erez@audiocodes.com,Mark.Kemel@audiocodes.com,Liran.Badiri@audiocodes.com,cc:Ben.Magriso@audiocodes.com,cc:Shuky.Riechard@audiocodes.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>OVOC ${NEW_TAG} image for azure is ready</defaultSubject>
      <defaultContent>OVOC_${NEW_TAG} vhd file can be downloaded here: 
${download_URL}</defaultContent>
      <attachmentsPattern/>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.9"/>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@3.6.1">
      <deployerDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec/>
      </uploadSpec>
      <downloadSpec>
        <spec>{
    "files": [
        {

            "pattern": "Devops/Tools/Azure/ovoc/ovoc_azure_image_update.py",
            "target": "${workspace}/EMS/VersionRelease/",
            "flat": "true"
        }
    ]
}</spec>
      </downloadSpec>
      <deployPattern/>
      <resolvePattern/>
      <deploymentProperties/>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns/>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName/>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>admin_password</name>
          <value>{AQAAABAAAAAQofhnjB3Zz0pzciacF1ol8NCW/XK1eQsZWGj61evL1E0=}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>test_jenkins_secret_key</name>
          <value>{AQAAABAAAAAwrp1rx2JPxbDOnfV2510OEQbJsjRhs+9x/JkUEN0k+zYwXDDCEjTOsEZk4sSkkKrTeP48+xRhoYMKoIvCXv0YdA==}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>connection_string</name>
          <value>{AQAAABAAAADQvM1pZjOfo49pEsbtSCfASI6j0V3kilSaOnB4uVkkDqJU1kdDHrY8RXSJSF8qs6vhR4f1UIO74PAQaCTTatEyhy0eCmzeU83LM8J3UgX6nihoW4lyPocTZerGI3ZR7xY4Ch9l1YZQX/7BLnbAHbxXzqsqOfDlqafnqNvLt/N6i1Ig8OeFj5r6LQ49z0I8KglqXhVyRtYhxufcc+ZLgGkeB8QPhqhlxxP/Yp79t6iH683s0pL90jA+byS8lyvCTcJeO4hrhZwuBOwMF0pi4xIShugTkuKvr2nQokQFFI8ugQo=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.0.3">
      <template>#${BUILD_NUMBER}__${NEW_TAG}</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>