<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>maratk</id>
  <fullName>Marat Khasanov</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>executors</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>bd78e02651a3ad26</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string>365_Lucca</string>
        <string>Allowed RODC Password Replication Group</string>
        <string># SBC</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>SSL_swosrc</string>
        <string>Mailvision Branch Office Users</string>
        <string>Linuxusers</string>
        <string># SBC SIP</string>
        <string># ClearCase R&amp;D</string>
        <string># RnD Israel</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># R&amp;D Application Group</string>
        <string># R&amp;D System Software</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1583493019073</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Marat.Khasanov@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>