<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>briank</id>
  <fullName>Brian Kling</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwwA1MlMjDVXWD2FTq9yxLZdN1B8mF4dXs+GxlPAro6NG4xUh80nWHt/5Ufb8eLiuYy3bT2IoLezfs11w8NsZ0Fw==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>5786219d-c49b-4589-87c9-cb6be35edebe</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>cf724e46cf26b92b0fd1c3b5ebe60808f381adcd9a15942377907b833f962db5</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>ST and MI</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>mtrBLD</string>
            <string>mtrCRV</string>
            <string>smtBLD</string>
            <string>smtBLD_ST4.2</string>
            <string>smtBLD_ST4.3</string>
            <string>smtBLD_ST5.0</string>
            <string>smtCRV</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
            <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
            <io.jenkins.plugins.analysis.core.columns.IssuesTotalColumn plugin="warnings-ng@7.3.0">
              <selectTools>false</selectTools>
              <tools>
                <io.jenkins.plugins.analysis.core.model.ToolSelection>
                  <id></id>
                </io.jenkins.plugins.analysis.core.model.ToolSelection>
              </tools>
              <name># Issues</name>
              <labelProviderFactory>
                <jenkins/>
              </labelProviderFactory>
              <type>TOTAL</type>
            </io.jenkins.plugins.analysis.core.columns.IssuesTotalColumn>
          </columns>
          <recurse>false</recurse>
        </hudson.model.ListView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># AUDC - NJ Engineering Team Leads</string>
        <string>authenticated</string>
        <string>TECHSUPPORTSAMBA</string>
        <string># SmartTAP Dev</string>
        <string>365_Monday</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>BACKPRINTGROUP</string>
        <string>BBL.ENGINEERING</string>
        <string>AI-TECHSUPP</string>
        <string>AI-LOGIXALL</string>
        <string># AUDC - NJ office</string>
        <string># ACPortal - Finance_USA</string>
        <string>AI-SmartLock</string>
        <string>AI-ENG</string>
        <string># AUDC - HR - All USA</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string>MUSIC Telecom SDevel</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string># AUDC - NA Regions</string>
        <string>AudioCodes_VPN</string>
        <string># SmartTAP</string>
        <string># Oracle USA</string>
        <string>Software Configuration Management</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Agile users</string>
        <string>AI-SmartLockAdmin</string>
        <string>AWS_Jira_Users</string>
        <string>RDP-AISMARKLOCK</string>
        <string>AI-Engineering</string>
        <string>BBL.Quality</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>AI-Tech Support</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string>CatalogApps_Everyone</string>
        <string>AI-QA</string>
        <string>allusers</string>
        <string>365_Tas</string>
        <string># Agile users</string>
        <string># All ACI - USA</string>
        <string># Oracle</string>
        <string>AI-OPT</string>
        <string>FTP_default</string>
        <string># AUDC - NJ Engineering Team</string>
        <string>AI-SmartTAP_Log</string>
        <string># ACPortal - HR USA</string>
        <string>AI-QMS-RO</string>
        <string>Domain Users</string>
        <string># Audiocodes USA-Development</string>
        <string>AI-ClearCase</string>
        <string>sp365-smarttap-modify</string>
      </roles>
      <timestamp>1582910105056</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Brian.Kling@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>e3e3dc22a5d24d05</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>