<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>ilanas</id>
  <fullName>Ilana Shapiro</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwkHGk22O+YSjYQRWtnvufSCx+pjBMOek3DnHyIuqBp9JdBlFqP1mLezM3UWOijyl2B01LRW39w42fsFkZEGs5ww==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>d068c2a0-1bd6-4439-a87c-77f95d921f1a</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>3cbb511890eeb3bdcfaacabbcbca63f8150c79eff5748e8d34c47e4295b58e28</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Ilana.Shapiro@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>a6eca966a2559dd6</seed>
    </jenkins.security.seed.UserSeedProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>TECHSUPPORTSAMBA</string>
        <string># SmartTAP Dev</string>
        <string>365_Monday</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>BACKPRINTGROUP</string>
        <string>BBL.ENGINEERING</string>
        <string>AI-TECHSUPP</string>
        <string>AI-LOGIXALL</string>
        <string># AUDC - NJ office</string>
        <string># ACPortal - Finance_USA</string>
        <string>AI-SmartLock</string>
        <string>NewUser_USA-NewJersey</string>
        <string>AI-ENG</string>
        <string># AUDC - HR - All USA</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string>MUSIC Telecom SDevel</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string># AUDC - NA Regions</string>
        <string>AudioCodes_VPN</string>
        <string># SmartTAP</string>
        <string># Oracle USA</string>
        <string>Software Configuration Management</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>365_MFA_Apps</string>
        <string>Agile users</string>
        <string>365_Comeet</string>
        <string>AWS_Jira_Users</string>
        <string>RDP-AISMARKLOCK</string>
        <string>AI-Engineering</string>
        <string>BBL.Quality</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>AI-Tech Support</string>
        <string>Allow Office365 Groups</string>
        <string>CatalogApps_Everyone</string>
        <string>AI-QA</string>
        <string>allusers</string>
        <string>365_Tas</string>
        <string># Agile users</string>
        <string># All ACI - USA</string>
        <string># Oracle</string>
        <string>AI-OPT</string>
        <string>FTP_default</string>
        <string># AUDC - NJ Engineering Team</string>
        <string>AI-SmartTAP_Log</string>
        <string># ACPortal - HR USA</string>
        <string>AI-QMS-RO</string>
        <string># AUDC - SmartWORKS</string>
        <string>Domain Users</string>
        <string># Audiocodes USA-Development</string>
        <string>AI-ClearCase</string>
        <string>sp365-smarttap-modify</string>
      </roles>
      <timestamp>1589407381839</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>