<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>markk</id>
  <fullName>Mark Kemel</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwYmN9tbpAshpFgMPW9rSXRwhG1DrewfGA543B/+NCbgvGo3D+ZLrShahL2juWSJb8OMGM+uWSMw2BsWjIJt0o4w==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>7e4698e6-12aa-4b30-9b94-e5f96b3d0e3e</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>0c54d8960a42ebf11f7a7868978893555570d4d14ab3bf4e1547a6060c217111</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string># All__Beer_Sheva</string>
        <string>CI_EMS_Developers</string>
        <string>cc_users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Access_Aws_Azure-ssh</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># All Beer Sheva</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># RnD Solutions SW group</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>AudioCodes_VPN</string>
        <string># OVOC MGMT</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>365_MFA_Apps</string>
        <string>NewUser_Israel-BS</string>
        <string># OVOC</string>
        <string>EMS_RW_Access</string>
      </roles>
      <timestamp>1582639183227</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Mark.Kemel@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>2f5dcc01fed26fda</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>