<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>BRANCH</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>7.4.3000</string>
              <string>7.6</string>
              <string>7.6.1000</string>
              <string>7.6.2000</string>
              <string>7.8</string>
              <string>7.8.1000</string>
              <string>7.8.2000</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>COMPANY</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>NEC</string>
              <string>Nuera</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TAG</name>
          <description/>
          <defaultValue/>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@test-gerrit:29418/EMS/ovoc_server</url>
        <credentialsId>fef9964a-ddb7-4ce6-a445-a99a9e9802c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${BRANCH}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
        <deleteUntrackedNestedRepositories>false</deleteUntrackedNestedRepositories>
      </hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <noTags>false</noTags>
        <reference/>
        <depth>1</depth>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <assignedNode>ems-build</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#/bin/sh
#run script make iso branded
#cd ${WORKSPACE}/EMS/VersionRelease
#. branding_iso.sh

#sh brandedscript.sh DVD3_EMS_${TAG} ${COMPANY}


#/bin/sh

version=${TAG}
dvd3_iso=DVD3_EMS_$version.iso
major=${BRANCH}
company=${COMPANY}
cd /home/centos
curl -k -u ems-build:emspass -X GET https://artifactory/ems-release/com/ac/ems/ovoc_server/"$major"/official_iso/"$dvd3_iso"?archiveType=iso &gt;"$dvd3_iso"
curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/about_logo.png&gt;about_logo.png

curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/logo_login.png&gt;logo_login.png

curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/logo.png&gt;logo.png

curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/ovoc_logo.svg&gt;ovoc_logo.svg
curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/ovoc_logo_white.svg&gt;ovoc_logo_white.svg
curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/globalLogo.png&gt;globalLogo.png

chmod 755 about_logo.png
chmod 755 logo_login.png
chmod 755 logo.png
chmod 755 ovoc_logo.svg
chmod 755 ovoc_logo_white.svg
chmod 755 globalLogo.png


rm -rf /home/centos/original_iso

mkdir /home/centos/original_iso

sudo mount  -o rw,loop -t iso9660 "$dvd3_iso" /home/centos/original_iso
cp -avr /home/centos/original_iso/ /home/centos/copy_original_iso/

#for braches 7.4* and 7.6* copy these files
if [[ "$BRANCH" =~ "7.4" || "$BRANCH" =~ "7.6" ]]
then
	cp -f /home/centos/logo.png /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/assets/images/logo.png
	cp -f /home/centos/about_logo.png /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/assets/images/about_logo.png
	cp -f /home/centos/logo_login.png /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/assets/images/logo_login.png
	cp -f /home/centos/about_logo.png /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/images/about_logo.png
elif [[ "$BRANCH" =~ "7.8" || "$BRANCH" =~ "7.8.1000" ]]
then
	#for branches 7.8 and 7.8.1000 copy these files
	cp -f /home/centos/ovoc_logo_white.svg /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/assets/svgs/ovoc_logo_white.svg
	cp -f /home/centos/ovoc_logo.svg /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/assets/svgs/ovoc_logo.svg
	cp -f /home/centos/globalLogo.png /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/externals/security/logo/globalLogo.png
    rm -rf /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/assets/svgs/audiocodes_logo.svg
    rm -rf /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/assets/images/ac_background.svg
	zip -d /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/jars/javax.servlet-3.0.0.v201112011016.jar 'META-INF/*.SF' 'META-INF/*.RSA'    
else 
	#for branches 7.8.2000 and up copy these files
	cp -f /home/centos/ovoc_logo_white.svg /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/infra2/components/acIcons/ac-svg/svgs/ovoc_logo_white.svg
	cp -f /home/centos/ovoc_logo.svg /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/infra2/components/acIcons/ac-svg/svgs/ovoc_logo.svg
	cp -f /home/centos/globalLogo.png /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/externals/security/logo/globalLogo.png
    rm -rf /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/infra2/components/acIcons/ac-svg/svgs/audiocodes_logo.svg
    rm -rf /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/web-ui-ovoc/infra2/assets/images/ac_background.svg
	zip -d /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/jars/javax.servlet-3.0.0.v201112011016.jar 'META-INF/*.SF' 'META-INF/*.RSA'        
fi


mkdir -p /home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/emsFiles/conf
echo ${COMPANY} &gt;/home/centos/copy_original_iso/EmsServerInstall/ac_ems_deploy/server_"$version"/emsFiles/conf/branding.txt





if [ $COMPANY == Nuera ]; then
mkdir Documentation
curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/Docs/'299-090-550 One Voice Operations Center Release Notes Ver. 7.6.pdf'?archiveType=pdf&gt;Documentation/'299-090-550 One Voice Operations Center Release Notes Ver. 7.6.pdf'
curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/Docs/'299-091-046 One Voice Operations Center User Manual Ver. 7.6.pdf'?archiveType=pdf&gt;Documentation/'299-091-046 One Voice Operations Center User Manual Ver. 7.6.pdf'
curl -k -u ems-build:emspass -X GET https://artifactory/ems-externals/com/ac/ems/branding/"$company"/Docs/'299-094-168 One Voice Operations Center IOM Manual Ver. 7.6.pdf'?archiveType=pdf&gt;Documentation/'299-094-168 One Voice Operations Center IOM Manual Ver. 7.6.pdf'
chmod -R 755 Documentation
rm -rf /home/centos/copy_original_iso/Documentation
cp -rf Documentation/ /home/centos/copy_original_iso/
fi

rm -rf DVD3_EMS_"$version".iso
mkisofs -V DVD3_EMS -o DVD3_EMS_"$version".iso -R -J -joliet-long copy_original_iso
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>ben.magriso</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@3.6.1">
      <deployerDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec>{
    "files": [
        {
            "pattern": "/home/centos/*.iso",
            "target": "ems-release/com/ac/ems/ovoc_server/${BRANCH}/branded_iso/${COMPANY}/",
            "props": "type=iso;status=ready",
             "recursive": "false"
        }
    ]
}</spec>
      </uploadSpec>
      <downloadSpec>
        <spec/>
      </downloadSpec>
      <deployPattern>/home/centos/*.iso=&gt;com/ac/ems/ovoc_server/${BRANCH}/branded_iso/${COMPANY}</deployPattern>
      <resolvePattern/>
      <deploymentProperties/>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns/>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName/>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.0.3">
      <template>#${BUILD_NUMBER}__${TAG}__${COMPANY}</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>