<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>alexa</id>
  <fullName>Alex Agranov</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwjRoUI2om2+a0Er4PTJF0SaMsJfGWlBJba6gX39JnaYRc1UamuLs/zAeF2nTb0qkoZTCG3wuvcsL6ZVXSP9HTYw==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>53be4fa9-4342-44c9-86f2-041d6f5d3298</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>933d529449c8789f93158e5b3d04bdb418629740fa1bf5ac6ace6000d6430843</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string># R&amp;D HDGW SYSTEM</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>System_Software</string>
        <string>TG1000</string>
        <string># R&amp;D HDGW SYSTEM SW</string>
        <string># All Orange</string>
        <string>cc_users</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Sp365-Devops-Read</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>Logistics_maintenance</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string># R&amp;D HDGW Team Leaders</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string>Agile users</string>
        <string># All 012 voip</string>
        <string>R&amp;D HDGW software</string>
        <string>AWS_Jira_Users</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string># Sunflower Product Team</string>
        <string>Palo_Access_Aws_Azure-ssh</string>
        <string># SBC SysEng</string>
        <string># Syslog-Viewer</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># SBC version release</string>
        <string># R&amp;D Sys SW Group Leaders</string>
        <string>CatalogApps_Everyone</string>
        <string># sbcwizard</string>
        <string>365_Tas</string>
        <string># Agile users</string>
        <string># ATCA forum</string>
        <string># R&amp;D HDGW GROUP</string>
        <string>Linuxusers</string>
        <string>FTP_5G</string>
        <string>Domain Users</string>
        <string># R&amp;D Sys SW Team Leaders</string>
        <string># SDN &amp; NFV</string>
      </roles>
      <timestamp>1583327702716</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Alex.Agranov@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>585a86bb1ac5fac2</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>