<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>andriip</id>
  <fullName>Andrii Pavliv</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>303a3398e09294f2</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Andrii.Pavliv@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>365_Tas</string>
        <string>365_Comeet</string>
        <string>Password Manager Apply</string>
        <string>AWS_Jira_Users</string>
        <string># OVOC QOE</string>
        <string>365_Lucca</string>
        <string>CI_EMS_Developers</string>
        <string>cc_users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string>Allow Office365 Groups</string>
        <string>SSL_RDP_Access</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># OVOC</string>
        <string>CatalogApps_Everyone</string>
      </roles>
      <timestamp>1589804353259</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>