<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>yuvaly</id>
  <fullName>Yuval Yosha</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>be4e83d1-e9c0-4e92-8cca-f188b4dcda74</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:53:05.913 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>8d29578c81dd3cae51a5f696c3175fccf0a6c3ff6b6b1677ba42ccc20f950e99</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>4d06252d-6b38-4d7f-8020-85ab31950d24</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:53:36.258 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>c1991349908b914dc4c7fea16791c74e0d707399fde39402c0d7bb461030ac05</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>7878abbe-3063-4273-8fc1-b3b3c318b0cd</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:54:05.761 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>fef5ee9a7841c1f98e508d3b59261664bc7b2082908dc1325d119d4872c0c8ad</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>97da08e5-7b3c-4405-af6e-45826aac008a</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:54:36.244 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>1d865912608e7b4b954620644156574f4ddb9da0a7f6e21759dcdaa2512ec7ac</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>64634ada-414d-4496-a168-6df7cbb3718d</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:55:06.230 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>a1147e330319d945fb13b9d139735019a18b9d2d0acb32f73fc5588557ff70a2</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>bd10eb47-edc3-4617-b71a-6562b85fc72f</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:55:36.202 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>347e6df372eddcf67d8c20a674c038cda0cee62f9a91ddf9e64cad944b31cc11</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>854ae763-51e3-4cb4-b3ac-fa4f8c2dff4f</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:56:05.785 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>1552fd34007ed04dae092924a7903051dec0bd7c5333a25d290d20f05137da18</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>41c1db81-d827-4ca3-b259-b1ab8788dd6a</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:56:35.471 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>98de48f3fd909aae2b2b162f04335960311fd03d2ac2add7747e927d75448007</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>b3337fd1-e26b-4ab8-9633-80712b16baa5</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:57:07.223 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>9031c339403cbf286281a3fd0985f90768dcaa961e974bcf7ead49774fa5bbca</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>413e6067-94b4-4d44-b4ee-84ffef5e043f</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:57:35.793 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>114ac07990756189b03acb12f5f59de966f433bacd888caef8a006658bcfc3f2</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>2cd4c3dc-2839-4dd0-8c49-11b8259b6fdc</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:58:05.437 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>f2f0cef1d1fb9980cb8bec772b28ff779d658f697129d8e5d82c5f7ea56f2b26</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>37ca43af-51a9-48ad-b6c4-152d4b26502f</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:58:36.48 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>1fa32e68232ab17b52d86c991dc56674fe99a1671fc6d2035464f918a0d5347f</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>b88cff9b-ece6-435a-b55d-c3846f2c3e8a</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:59:05.859 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>61ce474cd91062c142a9208b2513bab656d2073d76edebeb36bd0c985bfd3a87</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>ace606ed-29f3-461f-aab7-3de244e1eb57</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 08:59:36.67 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>9c765dd8081a78fd7a1ece96afa8e0e08118286320377eb215740b8997febb07</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>ad39a590-f11d-4edd-a0e0-95db52f155d4</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:00:06.201 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>dbacbdfb3b961411e3cbb3bf7945b8183c3ae6240293e76effcfac8cabc76854</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>971592d0-fec8-4b50-9459-30b17dd924f9</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:00:35.974 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>8a7e0f4b76c1a528483ea063b38abdbf46bdf9a6bcef2ee0d59d0d8ae8d7c155</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>3ae31d3f-4ddc-4bf2-9039-b4757cb762b7</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:01:08.686 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>5874de9a6b417d2eacaccf8ec98bfdb3aa2f30b3c5997a89b1656f11a7369949</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>d3def9d7-3981-4227-ae89-7b454aa5b4ef</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:01:39.108 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>c3aa1fef9ce86039ec5742b2ec7efe7dba27bc3d19ee43a31097f1fab855b84e</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>c06bd751-a00e-437d-a1e6-462bf3279afc</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:02:10.65 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>a6052c50ffd16db0587d26d1f9553a7184f80d7cb5eddd1fb125e55c0635e1d4</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>8233d870-9028-4761-9030-62bd8ce486c3</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:02:38.895 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>58bf51c3067e1fd615d1b0891c6a3e82c5d367070e3bb90065a3e4bad7ba4bcd</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>c6d60b9c-b95f-4036-b767-387ad37ffc33</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:03:09.122 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>8fd050845813085e74fd6d6aeeafacdcb5cc63385d49c34d6406446a35dcd6d1</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>eed5f697-fda9-4eee-ab19-ed6ba08f39a8</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:03:39.671 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>0453331005389fcebc55eddb02b4874b93df45d61d61fdf7c3b8632e618cbc93</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>979cb619-9b83-46db-9019-05c51c57bece</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:04:10.245 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>211154d2d79467dbe10ecadc58e87a9a3f77d26fdffdcb12f71fec7ba45f2814</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>7facc4b7-907f-41bb-a17a-f1e0fdbb438a</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:04:39.884 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>824ce4327d7cd9b0a3047a01721d6a4d329385e13ff80e0f0170652a06681f0e</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>fe6e03c1-0324-41bc-ac29-b8fab3eb6e2d</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:05:09.972 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>81bf3077d82774804a006692ca12498b7886de923fd2eae74bde03d73f86a764</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>916d3ca5-596d-4091-b2e6-db56ff1b4572</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:05:40.375 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>34b3a1399f01e2c48903875afb0e6f005914face46d075dbb5a68036a20ac401</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>39b1301e-5ee0-4882-a54e-de33d308a176</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:06:09.439 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>af298593598008b5b0deb72620b9c7eb27f754e1ed11071e165697138b49dd21</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>aee8dab9-dec2-47a2-bfb3-2f0bb46a8409</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:06:39.444 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>13d2f4e251c79c02f0c1e0bbed359d1b6c4b6f95580c98c9542574c7e6d71077</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>a5fc34db-3513-4f89-b5b2-198c07ec5fd8</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:07:09.674 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>1e24dff34c78e3f1d40cc24d3800d4a2e35c8627be18db6304cb5de030d18c74</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>91bdc686-eb50-41b1-bd40-211568a8a6a5</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:07:40.437 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>77b889ab23b9e9995d54cc405c7620831417d1e77cab01d484023948637247f1</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>c0b392d7-e6b5-416b-90ab-6abd73af254b</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:08:09.965 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>520471eae733480a256a8e3bf6b9cf81b7bbde2d53efedda980f817a49157874</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>35fa04f6-3962-4747-9dd5-c95516aa05bf</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:08:39.407 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>c4c80e47e7e0100882dfffeead44a8237f74f4387b3e5d0ce385c9efe208f2d9</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>c41e2811-b265-4d7e-a07a-d14e6be50e19</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:09:09.271 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>84377c927ad9b4bcb05db5e3503f4d1dd9012457b0cf9ebdc26b1a3cf05d35a2</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>dbdf399d-7fdf-4dee-a849-bdeac4945617</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:09:40.498 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>bd6f0eb44c4e92a6af40db85670eb743ef90698ac91ecbe2bb7e48b3d6e355bc</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>97fca054-8ca0-45cc-b1bf-694f9ffd1138</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:10:10.637 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>cc1bd5f4ec524fe4ca2c8024da297c9b9f19ca8391c0ccdad4117fd41d4ffdcd</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>1c042f55-5988-4f5b-adb3-b0153d480a1e</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:10:39.631 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>93cd2ab5144121d1cc12399c852550697f86554494e59b4f686810c0913638de</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>367eabfe-7424-4117-a8f1-81a1bf6bbe4a</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:11:09.318 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>2f246cfe7ac902dc01d5ec4b1a2c9a66e94763d47890cc7185bdd979f8a25955</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>6e1d0e16-628b-4549-8154-ca72c2ed4096</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:11:45.881 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>5affbca859bed7e99f700dc0ca3527b364affc52465699d750469eace8f22291</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>ca849061-73a5-470e-ba21-c8a8b5a9fa0c</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:12:18.23 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>a11541060d05ea09e189bb16dcfcb464e47812858c25430c5724439c51279e1e</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>261eccf0-6628-499c-8610-bd4bf2ea6d56</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:12:49.879 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>8ebf0dd35bf1f7dff6d8683cc8df3fc31157a1e44671a01c9f1c80bf492258be</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>0a458b5a-4879-4658-8665-484a5067ccd7</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:13:20.578 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>f6876ebeada485c3582ac29ab3b55ec8ccf689a4f580aa4f81dacf5a4577bba8</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>b1437bc4-6f5d-489a-b3c9-033ddaa3e492</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:13:50.301 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>5e6a97cff630beaa66d3ee14a1bd8db57b21a3ff5ce57a51e4a08b9ca3dec48f</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>0d004155-4ec6-41ce-99fd-d4ceacab2442</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:14:20.887 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>72129847ec3f91e1f2961e2824676b60605972c3f6df92f44baeba30ac590eb4</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>97bc18e9-4641-4f93-b2ec-ea266204628b</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:14:53.3 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>2c7cf6e5cb63a8048c9ae431cc1d6449a2511bd47a8153df620ad59f58173748</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>7ddcf541-0734-469f-ab0d-5fab426b545e</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:15:21.582 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>3247f7673b65af46a5bccac0a7a138f70954260bf09e3f7ebb0b1fd5e1a32d6f</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>b718004e-c8aa-4f83-910d-6f6401b9bda2</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:15:53.348 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>dab028a2c295c0ec3623e2f8c4c01b61a14580c45fb091843595b25a62de7299</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>a428ed23-ff1e-44b7-9b88-9b7dcf4b159c</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:16:23.231 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>a6064d8ef6dd347bd125fd4d3fcf55f73e9b74789a70673ec58eb26ac62af565</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>94259f4d-b576-497d-bc23-3bc38108a593</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:16:53.969 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>1d376b9795467b1a81d2015310b1c132d122d5fa1722139241208b88a213c95e</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>868f7348-6420-438c-bf9a-265ea7e230d2</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:17:23.497 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>4ab53787f59d433f234ce006e6a48d1c2dc711ffdbcba291f8144e7d7b781555</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>74b4d1de-a588-4845-b27e-cfd992fb912b</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:17:53.609 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>b41fc0269bc2215f3c364a3ea3fee4e46790f00b1673f7cc5ce05dc6c2515cd5</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>c7a1a87a-5586-4e4c-b5f5-4285f3c37959</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:18:23.532 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>b0909205dacdf913ba867a06fdfc6e986675afc50335afdf215bc61195e81baf</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>e89eab9e-253c-467e-8e9f-21a3e89fb919</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:18:53.229 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>507a7c98b638d166d25ff5b9fa80651df385485ea77dbf0cd1fe5904f670bc89</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>c1263434-43b7-43b7-9259-4587d35efd4b</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:19:23.684 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>58b38438d3a9db2a01c705bf5da3a44ee8ef07022ca42badeeffe01899ebb53e</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>29c5c814-44f2-4cd1-b1f5-737848a5da63</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:19:53.349 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>f8922586dbed094f06e5f625953831b2b66b4cb4ec9d63fa823020249332ca60</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>243a99ce-be02-47a2-886c-8ec1581ebb86</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:20:23.945 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>2460783040766dab1acdbd5264a542f7c73f4542646fdae59f7e2ae081941534</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>56d63dd5-f838-4c4b-86c5-8663529bfb90</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:20:53.390 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>8a9ebe1711b89f22edb60f4a2ed0eecff1dcf560d62c1761be2ef5f9a4873491</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>0871c46e-2dc4-4835-b89e-70a654ce7fd6</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:21:23.990 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>e0a1bfede78afe5723d4f79ed2eacd20a0090da40f808e95fdbcf94e9e9349b4</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>7da3f5f0-10ca-4ba7-a99d-f11fe775c586</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:21:54.311 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>29f3d15849fe29091b245960285125149c75d23ac25eb393b4be1878eabb31dd</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>4e94e14f-6ea2-4390-81fc-18034afe32c6</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:22:23.963 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>22d8cdada00799493cc5085c947e95d2675176c31a1732636bf38ebdff933ef9</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>0edd1bb6-076a-4b38-9a9b-2d72ab70065c</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:24:29.300 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>a00587b66e9d15c419bba1348bca5d3ff5b257c67fc8894dc58f1a0c6a90b608</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>yuval.yosha@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>Palo_AWS-RND-BKP_NTWS</string>
        <string>365_Comeet</string>
        <string>AWS_Jira_Users</string>
        <string>AI-Engineering</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># VM Admins</string>
        <string>365_Tas</string>
        <string>DevOps Team</string>
        <string>Password Manager Apply</string>
        <string># IT_System_department</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>AI-SmartTAP_RW</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string>Palo_Access_To_Amazon_RnD_Admins</string>
        <string># R&amp;D DevOps</string>
      </roles>
      <timestamp>1589413396296</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <jenkins.security.seed.UserSeedProperty>
      <seed>9b5e651912c78b87</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.TimeZoneProperty>
      <timeZoneName></timeZoneName>
    </hudson.model.TimeZoneProperty>
  </properties>
</user>