<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>yuvaly</id>
  <fullName>Yuval Yosha</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>56d63dd5-f838-4c4b-86c5-8663529bfb90</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:20:53.390 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>8a9ebe1711b89f22edb60f4a2ed0eecff1dcf560d62c1761be2ef5f9a4873491</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>0871c46e-2dc4-4835-b89e-70a654ce7fd6</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:21:23.990 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>e0a1bfede78afe5723d4f79ed2eacd20a0090da40f808e95fdbcf94e9e9349b4</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>7da3f5f0-10ca-4ba7-a99d-f11fe775c586</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:21:54.311 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>29f3d15849fe29091b245960285125149c75d23ac25eb393b4be1878eabb31dd</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>4e94e14f-6ea2-4390-81fc-18034afe32c6</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:22:23.963 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>22d8cdada00799493cc5085c947e95d2675176c31a1732636bf38ebdff933ef9</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>0edd1bb6-076a-4b38-9a9b-2d72ab70065c</uuid>
            <name>myFoo</name>
            <creationDate>2020-05-19 09:24:29.300 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>a00587b66e9d15c419bba1348bca5d3ff5b257c67fc8894dc58f1a0c6a90b608</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>yuval.yosha@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>Palo_AWS-RND-BKP_NTWS</string>
        <string>365_Comeet</string>
        <string>AWS_Jira_Users</string>
        <string>AI-Engineering</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># VM Admins</string>
        <string>365_Tas</string>
        <string>DevOps Team</string>
        <string>Password Manager Apply</string>
        <string># IT_System_department</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>AI-SmartTAP_RW</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string>Palo_Access_To_Amazon_RnD_Admins</string>
        <string># R&amp;D DevOps</string>
      </roles>
      <timestamp>1589413396296</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <jenkins.security.seed.UserSeedProperty>
      <seed>9b5e651912c78b87</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.TimeZoneProperty>
      <timeZoneName></timeZoneName>
    </hudson.model.TimeZoneProperty>
  </properties>
</user>