<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>yuvaly</id>
  <fullName>Yuval Yosha</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwFZVy7feOHXYgHthBWXitpxo06exzFp8q05W1IQLNZ4lqoPr0kWPlnd9r8XE21YB9HjJx+H/J0ZbfsgCx5JFh0w==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>2973df73-cca6-41be-b6e2-390188ee07cc</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>7d1385318e60028ba06ce8eb8388d00836a12ec4a2f967fc235f429eae410996</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>yuval.yosha@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>Palo_AWS-RND-BKP_NTWS</string>
        <string>AWS_Jira_Users</string>
        <string>AI-Engineering</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># VM Admins</string>
        <string>365_Tas</string>
        <string>DevOps Team</string>
        <string>Password Manager Apply</string>
        <string># IT_System_department</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>AI-SmartTAP_RW</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string>Palo_Access_To_Amazon_RnD_Admins</string>
        <string># R&amp;D DevOps</string>
      </roles>
      <timestamp>1587883056063</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>9b5e651912c78b87</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>