<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>michalf</id>
  <fullName>Michal Fedida</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>bc38500c0c9f69cd</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Michal.Fedida@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>365_Comeet</string>
        <string>AWS_Jira_Users</string>
        <string>AI-Engineering</string>
        <string># All__Beer_Sheva</string>
        <string>365_Monday</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string># SmartTAP Support</string>
        <string># All manager Israel</string>
        <string>Allow Office365 Groups</string>
        <string># R&amp;D Support Escalation</string>
        <string>AI-ENG</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>AI-QA</string>
        <string># All Beer Sheva</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># Oracle</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Palo_Access_To_AWS-Remote_Desktop</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># AUDC - NJ Engineering Team</string>
        <string>AI-SmartTAP_Log</string>
        <string>AudioCodes_VPN</string>
        <string># SmartTAP</string>
        <string># SmartTap-BS</string>
        <string># AUDC - SmartWORKS</string>
        <string># Oracle USA</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>365_MFA_Apps</string>
        <string>NewUser_Israel-BS</string>
      </roles>
      <timestamp>1592848577596</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>