<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>valerys</id>
  <fullName>Valery Sigalov</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwhKlImv+sz5kJU1wSMPxWVTpQ0vfeqeJ6K5ySyX7lJMBpMjlAs925jH6ZLIRw6tzWltxwBROkFCU6nzvcGMI4Sw==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>e13ab6a9-a03c-4e7c-ae0c-f4c5929479c6</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>30c71333161347e27244631866f6c7230c9d82da4f658426d32ab0ea4dbfabf9</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>System_Software</string>
        <string>AWS_Jira_Users</string>
        <string>AI-Engineering</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>WirelessUsers</string>
        <string>Sp365-Devops-Read</string>
        <string># SBC Infra System</string>
        <string># All manager Israel</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># AUDC - NJ office</string>
        <string># ACPortal - Finance_USA</string>
        <string># R&amp;D System Software</string>
        <string>AI-ENG</string>
        <string># AUDC - HR - All USA</string>
        <string>CatalogApps_Everyone</string>
        <string>AI-QA</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string># All ACI - USA</string>
        <string># R&amp;D API</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># AUDC - NA Regions</string>
        <string>Linuxusers</string>
        <string># ACPortal - HR USA</string>
        <string>AI-QMS-RO</string>
        <string>cc_api</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string># R&amp;D Next Generation CPE</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>365_MFA_Apps</string>
      </roles>
      <timestamp>1584709609391</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Valery.Sigalov@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>7334fd393aecef4c</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>