<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>benib</id>
  <fullName>Beni Bloch</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw4Gixp4eR9IWizV1DtkCrNm2iXOh61oBglCI4+SJZAYcKru38Ucbpg0ImoSvp6dHniS/M8ZZhrgqts4U/YJvY8Q==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>c348a386-095b-452f-a9e6-24b63273f4e0</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>f23e9886f4cec85169154f04e633b7d9760613c041cd534aa975830b41e82ba5</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Beni.Bloch@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>Agile users</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>System_Software</string>
        <string># Board ETAS</string>
        <string>AWS_Jira_Users</string>
        <string>Synagogue</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Sp365-Devops-Read</string>
        <string># All manager Israel</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>QA Group</string>
        <string>365_Tas</string>
        <string># All Managers</string>
        <string>Password Manager Apply</string>
        <string># Agile users</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string># All HotMobile</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string># R&amp;D Sys SW Team Leaders</string>
      </roles>
      <timestamp>1584639358858</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>032e78a217d150d7</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>