<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@2.38">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.6.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.6.0">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>NEW_TAG</string>
        <string>PM_IP</string>
        <string>DeployISO</string>
        <string>OLD_TAG</string>
        <string>MASTER_IP</string>
        <string>sanityType</string>
        <string>VQ_IP</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>NEW_TAG</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OLD_TAG</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>DeployISO</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>official_iso</string>
              <string>latest_iso</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>mgmtIP</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>vqmIP</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pmIP</name>
          <description/>
          <defaultValue/>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>sanityType</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>full</string>
              <string>short</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.78">
    <script>pipeline {
    agent {
        node {
            label 'ems-build'
            customWorkspace '/jenkins/workspace'
        }
    }
    parameters {
        string(name: 'NEW_TAG', defaultValue: '', description: '')
        string(name: 'OLD_TAG', defaultValue: '', description: '')
        choice(name: 'DeployISO', choices: ['official_iso', 'latest_iso'], description: '')
        string(name: 'MASTER_IP', defaultValue: '', description: '')
        string(name: 'VQ_IP', defaultValue: '', description: '')
        string(name: 'PM_IP', defaultValue: '', description: '')
        choice(name: 'sanityType', choices: ['full', 'short'], description: '')
    }
    stages {
        stage('Install Nodes'){
            failFast true
            parallel {
                stage('Install master') {
                    steps {
                        build job: 'OVOC-Cluster-DVD-Install', parameters: [
                            string(name: 'TAG', value: "${params.OLD_TAG}"),
                            string(name: 'ServerRole', value: 'management'),
                            string(name: 'ServerIP', value: "${params.mgmtIP}"),
                            string(name: 'DeployISO', value: "${params.DeployISO}")
                        ]
                        build job: 'OVOC-Cluster-DVD-Install', parameters: [
                            string(name: 'TAG', value: "${params.NEW_TAG}"),
                            string(name: 'ServerRole', value: 'management'),
                            string(name: 'ServerIP', value: "${params.mgmtIP}"),
                            string(name: 'DeployISO', value: "${params.DeployISO}")
                        ]
                    }
                }
                stage('Install VQ') {
                    steps {
                        build job: 'OVOC-Cluster-DVD-Install', parameters: [
                            string(name: 'TAG', value: "${params.OLD_TAG}"),
                            string(name: 'ServerRole', value: 'vqm'),
                            string(name: 'ServerIP', value: "${params.vqmIP}"),
                            string(name: 'DeployISO', value: "${params.DeployISO}")
                        ]
                        build job: 'OVOC-Cluster-DVD-Install', parameters: [
                            string(name: 'TAG', value: "${params.NEW_TAG}"),
                            string(name: 'ServerRole', value: 'vqm'),
                            string(name: 'ServerIP', value: "${params.vqmIP}"),
                            string(name: 'DeployISO', value: "${params.DeployISO}")
                        ]
                    }
                }
                stage('Install PM') {
                    steps {
                        build job: 'OVOC-Cluster-DVD-Install', parameters: [
                            string(name: 'TAG', value: "${params.OLD_TAG}"),
                            string(name: 'ServerRole', value: 'pm'),
                            string(name: 'ServerIP', value: "${params.pmIP}"),
                            string(name: 'DeployISO', value: "${params.DeployISO}")
                        ]
                        build job: 'OVOC-Cluster-DVD-Install', parameters: [
                            string(name: 'TAG', value: "${params.NEW_TAG}"),
                            string(name: 'ServerRole', value: 'pm'),
                            string(name: 'ServerIP', value: "${params.pmIP}"),
                            string(name: 'DeployISO', value: "${params.DeployISO}")
                        ]
                    }
                }
            }
        }
        stage('Configure and Sanity'){
            steps{
                build job: 'OVOC-Cluster-Config-and-Sanity', parameters: [
                    string(name: 'TAG', value: "${params.NEW_TAG}"),
                    string(name: 'Master_IP', value: "${params.MASTER_IP}"),
                    string(name: 'VQ_IP', value: "${params.VQ_IP}"),
                    string(name: 'PM_IP', value: "${params.PM_IP}"),
                    string(name: 'sanityType', value: "${params.sanityType}"),
                    string(name: 'installType', value: 'upgradeCluster')
                ]
            }
        }
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>