<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>NEW_TAG</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@test-gerrit:29418/EMS/ovoc_server.git</url>
        <credentialsId>fef9964a-ddb7-4ce6-a445-a99a9e9802c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>server_${NEW_TAG}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <noTags>false</noTags>
        <reference></reference>
        <depth>1</depth>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <assignedNode>azure_ovoc_slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Download_URL=&quot; &gt; prop
container_name=&quot;vhds&quot;
ISO_DEPLOY_DESTINATION=&quot;official_iso&quot;
admin_username=&quot;acovoc&quot;
base_image=&quot;https://ciresourcegroupstorage.blob.core.windows.net/vhds/OVOC-Template.vhd&quot;
VmSize=&quot;Standard_D4s_v3&quot;
vhd_storage_account=&quot;ciresourcegroupstorage&quot;
subnet=&quot;Net_172.16.100.0&quot;
vnet_name=&quot;CI_Resource_Group&quot;
security_group=&quot;createOvocImageSG&quot;
vhd_name=&quot;OVOC_${NEW_TAG}&quot;
VmName=&quot;OVOC${NEW_TAG}&quot;
ResourceGroupName=&quot;CI_Resource_Group&quot;


test_jenkins_app_id=&quot;666a283f-ae93-4069-8e2e-cb35cca51cfa&quot;
test_jenkins_tenant_id=&quot;1911c65c-893b-42f9-83fa-66c1b86fdf85&quot;

#connect to azure cli
az login --service-principal -u ${test_jenkins_app_id} -p ${test_jenkins_secret_key} --tenant ${test_jenkins_tenant_id}
#create new VM
az vm create \
    --resource-group ${ResourceGroupName} \
    --name ${VmName} \
    --image ${base_image} \
    --admin-username ${admin_username} \
    --admin-password ${admin_password} \
    --size ${VmSize} \
	--public-ip-address &quot;&quot; \
    --use-unmanaged-disk \
	--storage-account &quot;${vhd_storage_account}&quot; \
    --subnet ${subnet} \
    --vnet-name ${vnet_name} \
    --nsg ${security_group} \
    --os-type linux \
    --os-disk-name ${vhd_name} \
    --tags &apos;Name=AzureOvocSanityInstall&apos; &apos;Creator=Jenkins&apos;
#wait for VM will be created
az vm wait -g ${ResourceGroupName} -n ${VmName} --created

#get new VM IP
vmIP=$(az vm list-ip-addresses -g ${ResourceGroupName} -n ${VmName} --query &quot;[*].virtualMachine.network.privateIpAddresses[0]&quot; --output tsv)

#wait for the vm to be running
#az vm wait -g ${ResourceGroupName} -n ${VmName} --custom &quot;instanceView.statuses[1].[?code==&apos;PowerState/running&apos;]&quot;
current_status=$(az vm get-instance-view --name ${VmName} --resource-group ${ResourceGroupName} --query instanceView.statuses[1].[code] --output tsv)
if [[ &quot;$current_status&quot; != &quot;PowerState/running&quot; ]]
then
	echo &quot;Wait until the VM is up&quot;
	sleep 20
    current_status=$(az vm get-instance-view --name ${VmName} --resource-group ${ResourceGroupName} --query instanceView.statuses[1].[code] --output tsv)
fi
echo &quot;Wait until VM is fully loaded&quot;
sleep 100


cd EMS/VersionRelease
#run script &quot;ovoc-Azure-image-update.py&quot; before installation to run  update-hosts-file script
python ovoc_azure_image_update.py $NEW_TAG $vmIP before_install
#run SanityInstall
python SanityInstall.py $NEW_TAG $vmIP $ISO_DEPLOY_DESTINATION

#run script &quot;ovoc-Azure-image-update.py&quot; before installation to run  update-hosts-file script
python ovoc_azure_image_update.py $NEW_TAG $vmIP after_install



#deallocate and generalize the VM
#az vm deallocate --resource-group ${ResourceGroupName} --name ${VmName}
#az vm generalize --resource-group ${ResourceGroupName} --name ${VmName}
#create Image
#az image create --resource-group ${ResourceGroupName} --name ovoc_${NEW_TAG} --source ${VmName}


#create SAS URL to send
start_date=$(date --utc +%FT%TZ -d &quot;-1 day&quot;)
expire_date=$(date --utc +%FT%TZ -d &quot;+30 day&quot;)
URL=$(az storage blob url --connection-string ${connection_string} -c ${container_name} -n &quot;${vhd_name}.vhd&quot; -o tsv)
SAS_URL=$(az storage blob generate-sas --connection-string ${connection_string} --container-name ${container_name} --name ${vhd_name} --permissions r --start &quot;${start_date}&quot; --expiry &quot;${expire_date}&quot; -o tsv)
Download_URL=&quot;${URL}${SAS_URL}&quot;
#delete VM the new security group and the nic
az resource delete --ids $(az resource list --tag Name=AzureOvocSanityInstall -otable --query &quot;[].id&quot; -otsv)

echo &quot;Download_URL=${Download_URL}&quot; &gt; prop
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.6">
      <info>
        <propertiesFilePath>prop</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>Build was aborted</logText>
              <operator>OR</operator>
            </hudson.plugins.postbuildtask.LogProperties>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>marked build as failure</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>az resource delete --ids $(az resource list --tag Name=AzureEmsSanityInstall -otable --query &quot;[].id&quot; -otsv)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>ben.magriso</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
      <recipientList>ben.magriso@audiocodes.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>OVOC_${NEW_TAG} Azure Image</defaultSubject>
      <defaultContent>OVOC ${NEW_TAG} Image for azure was created.

OVOC_${NEW_TAG} VHD File Download URL: 
${Download_URL}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@3.1.0">
      <deployerDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec></spec>
      </uploadSpec>
      <downloadSpec>
        <spec>{
    &quot;files&quot;: [
        {

            &quot;pattern&quot;: &quot;Devops/Tools/Azure/ovoc/ovoc_azure_image_update.py&quot;,
            &quot;target&quot;: &quot;${workspace}/EMS/VersionRelease/&quot;,
            &quot;flat&quot;: &quot;true&quot;
        }
    ]
}</spec>
      </downloadSpec>
      <deployPattern></deployPattern>
      <resolvePattern></resolvePattern>
      <deploymentProperties></deploymentProperties>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName></customBuildName>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.6">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>admin_password</name>
          <value>{AQAAABAAAAAQofhnjB3Zz0pzciacF1ol8NCW/XK1eQsZWGj61evL1E0=}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>test_jenkins_secret_key</name>
          <value>{AQAAABAAAAAws/X4vjk3Qr0Q9cEMlc+fQyLZ36SAUdaFPGDOLMKzK5En9820/Gt2icTtMbpe6OGcVI4OguTw14oHq3sqqIuJwA==}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>connection_string</name>
          <value>{AQAAABAAAADQzOqtVsS81+VEe/A4axGR4uxQCkFTbxRJbte6x1TidHZ/k9xcHA+I1H2YaFGvTdOVzxgqJHFcU0+d29wBE+MNP1e0v2mT6jReyxO7Y8apmQf+S0nQWB5gyRfff3dR3s43lrtz6W5Zz0f9e7LYTsXGC7YiO2ZkqdBofKl67mW9Xbdlsawx5TaDgHkQThUC06EckFaEp1c814SNoABlIqK2Lc0TjsEWvqytLMi5RTZVeD7/K7hMWo3SAQqoZuWJyI+CFeNYA+QkISoWTWNGZtueo9lZoA77yvZJe25BrNr9yLI=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.9">
      <template>#${BUILD_NUMBER}__${NEW_TAG}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>