<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>shukyr</id>
  <fullName>Shuky Riechard</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw0vPal8zRZ4uVHcfFWEWEL7vHeB9eInS7Vfu6V2cbSSrla6kC15pE3lbcO11CYew/1geus2W41WM86KB3MUY61w==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>4e2e80bb-9c8e-49c4-8c2b-72fd2d9321d7</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>afa45359349703438306bd6ac48614e7ac966fa65652d94a8736cbbf5b820e6f</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># R&amp;D HDGW SYSTEM</string>
        <string>authenticated</string>
        <string>Palo_AWS-RND-BKP_NTWS</string>
        <string>TG1000</string>
        <string>cc_users</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Sp365-Devops-Read</string>
        <string># All manager Israel</string>
        <string>#All Breakfast</string>
        <string># All Lunch</string>
        <string>Logistics_maintenance</string>
        <string># MP20x deliveries</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string>CI_ARM_admins</string>
        <string># All ISRAEL</string>
        <string># RnD Solutions SW group</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string># R&amp;D HDGW SYSTEM QA</string>
        <string>AudioCodes_VPN</string>
        <string>CI_admins</string>
        <string># RnD Israel</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string>Sp365-DevOps-modify</string>
        <string>CI_ARM_developers</string>
        <string>Agile users</string>
        <string># All 012 voip</string>
        <string>365_Comeet</string>
        <string># ARM</string>
        <string>AWS_Jira_Users</string>
        <string># RnD ARM</string>
        <string>Synagogue</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string>CatalogApps_Everyone</string>
        <string># Gym</string>
        <string>365_Tas</string>
        <string>DevOps Team</string>
        <string># Agile users</string>
        <string># R&amp;D HDGW GROUP</string>
        <string>FTP_default</string>
        <string>Domain Users</string>
        <string>ARM-FC</string>
        <string>Palo_Access_To_Amazon_RnD_Admins</string>
        <string># R&amp;D DevOps</string>
      </roles>
      <timestamp>1589880302078</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Shuky.Riechard@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>ee95dcfdca05b633</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>