<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Job triggered by jenkins job: &quot;emsPublishAMI&quot; or manual.&#xd;
This job creating new ovoc azure image and generating SAS URL (URL to download the vhd file)&#xd;
1. get OVOC Tag as parameter&#xd;
2. download ovoc_azure_image_update.py file from artifactory&#xd;
3. creating new VM from the OVOC-Template base image (500GB)&#xd;
4.run &quot;ovoc_azure_image_update.py&quot; on the new VM (running update-hosts-file and adding dns suffix to /etc/resolv.conf)&#xd;
5.run sanityInstall on the new VM&#xd;
6.run &quot;ovoc_azure_image_update.py&quot; again to delete all important information from the VM&#xd;
7. Generate SAS URL&#xd;
8. delete the VM&#xd;
10. send an email with the SAS URL</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>azure_ovoc_slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>container_name=&quot;ovoc2115test&quot;
ISO_DEPLOY_DESTINATION=&quot;official_iso&quot;
admin_username=&quot;acovoc&quot;
base_image=&quot;https://ciresourcegroupstorage.blob.core.windows.net/ovoc762125/OVOC_7.6.2125.vhd&quot;
VmSize=&quot;Standard_D4s_v3&quot;
vhd_storage_account=&quot;ciresourcegroupstorage&quot;
subnet=&quot;Net_172.16.100.0&quot;
vnet_name=&quot;CI_Resource_Group&quot;
security_group=&quot;createOvocImageSG&quot;
vhd_name=&quot;OVOC_${NEW_TAG}&quot;
VmName=&quot;OVOC${NEW_TAG}&quot;
ResourceGroupName=&quot;CI_Resource_Group&quot;
echo &quot;vhd_name=${vhd_name}&quot; &gt; properties
#details of service principal app (test-jenkins) to connect azure cli
test_jenkins_app_id=&quot;666a283f-ae93-4069-8e2e-cb35cca51cfa&quot;
test_jenkins_tenant_id=&quot;1911c65c-893b-42f9-83fa-66c1b86fdf85&quot;

#connect to azure cli
az login --service-principal -u ${test_jenkins_app_id} -p ${test_jenkins_secret_key} --tenant ${test_jenkins_tenant_id}
#create new VM
az vm create \
    --resource-group ${ResourceGroupName} \
    --name ${VmName} \
    --image ${base_image} \
    --admin-username ${admin_username} \
    --admin-password ${admin_password} \
    --size ${VmSize} \
	--public-ip-address &quot;&quot; \
    --use-unmanaged-disk \
	--storage-account &quot;${vhd_storage_account}&quot; \
    --subnet ${subnet} \
    --vnet-name ${vnet_name} \
    --nsg ${security_group} \
    --os-type linux \
    --os-disk-name ${vhd_name} \
    --storage-container-name ${container_name} \
    --tags &apos;Name=AzureOvocSanityInstall&apos; &apos;Creator=Jenkins&apos;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>Build was aborted</logText>
              <operator>OR</operator>
            </hudson.plugins.postbuildtask.LogProperties>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>marked build as failure</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>az resource delete --ids $(az resource list --tag Name=AzureOvocSanityInstall -otable --query &quot;[].id&quot; -otsv)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.9"/>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.6">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>admin_password</name>
          <value>{AQAAABAAAAAQofhnjB3Zz0pzciacF1ol8NCW/XK1eQsZWGj61evL1E0=}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>test_jenkins_secret_key</name>
          <value>{AQAAABAAAAAwrp1rx2JPxbDOnfV2510OEQbJsjRhs+9x/JkUEN0k+zYwXDDCEjTOsEZk4sSkkKrTeP48+xRhoYMKoIvCXv0YdA==}</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>connection_string</name>
          <value>{AQAAABAAAADQvM1pZjOfo49pEsbtSCfASI6j0V3kilSaOnB4uVkkDqJU1kdDHrY8RXSJSF8qs6vhR4f1UIO74PAQaCTTatEyhy0eCmzeU83LM8J3UgX6nihoW4lyPocTZerGI3ZR7xY4Ch9l1YZQX/7BLnbAHbxXzqsqOfDlqafnqNvLt/N6i1Ig8OeFj5r6LQ49z0I8KglqXhVyRtYhxufcc+ZLgGkeB8QPhqhlxxP/Yp79t6iH683s0pL90jA+byS8lyvCTcJeO4hrhZwuBOwMF0pi4xIShugTkuKvr2nQokQFFI8ugQo=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.9">
      <template>#${BUILD_NUMBER}__${NEW_TAG}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>