<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>yossim</id>
  <fullName>Yossi Merzbach</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAweVrgd21LrRQzacKK3mJGNuzURNePrI6bH/WzQEPFNmz0Ykt5zU5Kr4VVHewKJVycxPJqBnB0zhNlT+OqBcEAcg==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>f9b3fc11-a01c-4558-9655-d10384b12af4</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>841ab4591a6a3edd0886f01d45df1adec164d2bcb72e5ad101fd04410779c177</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>System_Software</string>
        <string>Palo_AWS-RND-BKP_NTWS</string>
        <string>cc_users</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Sp365-Devops-Read</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>Logistics_maintenance</string>
        <string>DSP</string>
        <string>QA Group</string>
        <string>CMBU</string>
        <string># MP20x deliveries</string>
        <string># All Managers</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>Vopp</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string># All Airport City</string>
        <string>Sp365-DevOps-modify</string>
        <string>Agile users</string>
        <string>AWS_Jira_Users</string>
        <string>Synagogue</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>cc_nsc</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string>CatalogApps_Everyone</string>
        <string># Gym</string>
        <string>365_Tas</string>
        <string>cc_oracle</string>
        <string># Agile users</string>
        <string>Clearcase</string>
        <string># Employee Mobility</string>
        <string>FTP_default</string>
        <string># All HotMobile</string>
        <string>Linuxusers</string>
        <string>Domain Users</string>
        <string>Palo_Access_To_Amazon_RnD_Admins</string>
        <string># R&amp;D DevOps</string>
      </roles>
      <timestamp>1581594812892</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Yossi.Merzbach@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>ce0d95a8dd39b9da</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>