<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>MeetingRecorder build server - run nightly</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>100</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GERRIT_PATCHSET_REVISION</name>
          <description></description>
          <defaultValue>36d4c4bbe0f24916fe3730634e282e321d85c0e2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@test-gerrit:29418/SmartTAP/MeetingRecorder.git</url>
        <credentialsId>fef9964a-ddb7-4ce6-a445-a99a9e9802c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${GERRIT_BRANCH}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GitBlitRepositoryBrowser">
      <url>https://test-gerrit/plugins/gitblit/</url>
      <projectName>SmartTAP/MeetingRecorder</projectName>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <assignedNode>mtr-Build-Label</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger plugin="gerrit-trigger@2.27.5">
      <spec></spec>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>SmartTAP/MeetingRecorder</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>ANT</compareType>
              <pattern>**</pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
          <disableStrictForbiddenFileVerification>false</disableStrictForbiddenFileVerification>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <dynamicGerritProjects class="empty-list"/>
      <skipVote>
        <onSuccessful>false</onSuccessful>
        <onFailed>false</onFailed>
        <onUnstable>false</onUnstable>
        <onNotBuilt>false</onNotBuilt>
      </skipVote>
      <silentMode>false</silentMode>
      <notificationLevel></notificationLevel>
      <silentStartMode>false</silentStartMode>
      <escapeQuotes>true</escapeQuotes>
      <nameAndEmailParameterMode>PLAIN</nameAndEmailParameterMode>
      <dependencyJobsNames></dependencyJobsNames>
      <commitMessageParameterMode>BASE64</commitMessageParameterMode>
      <changeSubjectParameterMode>PLAIN</changeSubjectParameterMode>
      <commentTextParameterMode>BASE64</commentTextParameterMode>
      <buildStartMessage></buildStartMessage>
      <buildFailureMessage></buildFailureMessage>
      <buildSuccessfulMessage></buildSuccessfulMessage>
      <buildUnstableMessage></buildUnstableMessage>
      <buildNotBuiltMessage></buildNotBuiltMessage>
      <buildUnsuccessfulFilepath></buildUnsuccessfulFilepath>
      <customUrl></customUrl>
      <serverName>test-gerrit</serverName>
      <triggerOnEvents>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginChangeMergedEvent/>
      </triggerOnEvents>
      <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
      <triggerConfigURL></triggerConfigURL>
      <triggerInformationAction/>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!c:\cygwin64\bin\bash.exe --login

set -e

cd $WORKSPACE
#
[[ -f release.prop ]] &amp;&amp; rm release.prop

# we build only if jenkins checked out on the last commit in branch, else exit 0
LastGerritCommitHash=$(git ls-remote | grep refs/heads/${GERRIT_BRANCH} | cut -f 1 | head -n 1 )
echo &quot;Last commit on Gerrit: ${LastGerritCommitHash}&quot;
echo &quot;Current commit: ${GERRIT_PATCHSET_REVISION}&quot;
if [[ &quot;${LastGerritCommitHash}&quot; != &quot;${GERRIT_PATCHSET_REVISION}&quot; ]]; then
    echo &quot;*******************************************************************&quot;
    echo &quot;*******************************************************************&quot;
    echo &quot;*******************************************************************&quot;
    echo &quot;******   This is not the last commit. Exit without building  ******&quot;
    echo ABORT_BUILD=TRUE &gt; release.prop
    echo NEWTAG=ABORTED &gt;&gt; release.prop
    echo &quot;*******************************************************************&quot;
    echo &quot;*******************************************************************&quot;
    echo &quot;*******************************************************************&quot;
    exit 0
fi

# Build HEAD
#fullBranch=`git branch --no-color -r --contains HEAD | grep -v -e &apos;-&gt;&apos; | head -1`
#BRANCH=`echo $(echo $fullBranch | sed &apos;s:.*origin.::&apos;)`

LAST_TAG=$(git describe --abbrev=0 --tags --first-parent origin/${GERRIT_BRANCH})
echo &quot;Last tag: ${LAST_TAG}&quot;
DATE=`date`

#calculate new tag
# MASTERTAG structure is X.X.X.XXXXY
# where X is a digit Y is a letter.
# Branch tag is MASTERTAG_BRANCHNAME.XX[_BRANCHNAME.XX[..]]
# where BN is taken from the branch name and X is a digit.
# If vesion number is to be handled by Jenkins,
# parse it from LAST_TAG here.
# 

# Define new tag

if [[ &quot;${GERRIT_BRANCH}&quot; == &quot;master&quot; ]]; then
    # Overcome GiT error when getting commit tag from non-master branch.
    # If LAST_TAG does not match pattern x.x.x.x then exit job with -1
    if [[ -z $(echo $LAST_TAG | grep -E &apos;^([0-9]*\.){3}[0-9]*$&apos;) ]]; then
        export NEW_TAG=&quot;ABORTED&quot;
        echo &quot;Wrong tag pattern recieved from GiT!!&quot;
        exit -1
    fi
    
    # We are building a submit on branch `master`
    MAJOR=`echo ${LAST_TAG} | gawk -F&apos;.&apos; &apos;{print $1}&apos;`
    MINOR=`echo ${LAST_TAG} | gawk -F&apos;.&apos; &apos;{print $2}&apos;`
    POINT=`echo ${LAST_TAG} | gawk -F&apos;.&apos; &apos;{print $3}&apos;`
    TAG_BUILD=`echo ${LAST_TAG} | gawk -F&apos;.&apos; &apos;{print $NF}&apos;`
    OLD_BUILD=`echo ${TAG_BUILD} | sed &apos;{s/[^0-9]//g}&apos;`
    #SUFFIX=`[[ ${#TAG_BUILD} &gt; 4 ]] &amp;&amp; echo ${TAG_BUILD:4} || echo &quot;&quot;`
    NEW_BUILD=`echo ${OLD_BUILD} | gawk &apos;{print $1+1}&apos;`
    #NEWTAG=$MAJOR.$MINOR.$POINT.$NEW_BUILD$SUFFIX
    NEWTAG=${MAJOR}.${MINOR}.${POINT}.${NEW_BUILD}
    VERNUM=${MAJOR}.${MINOR}.${POINT}
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
    echo &quot;TAG_BUILD:        ${TAG_BUILD}&quot;
    echo &quot;NEW_BUILD:        ${NEW_BUILD}&quot;
    echo &quot;NEWTAG:           ${NEWTAG}&quot;
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
else
    # Extract the branch name from the branch path on Gerrit
    CURRENT_BR_NAME=${GERRIT_BRANCH##*/}
    GERRIT_PATH=${GERRIT_BRANCH%$CURRENT_BR_NAME*}
    # remove trailing `/`
    GERRIT_PATH=${GERRIT_PATH::-1}

    array=(&quot;collab&quot; &quot;feature&quot; &quot;sprint&quot;)
    # We mark the tag with the first letter of the branch family:
    # c --&gt; collab
    # f --&gt; feature
    # s --&gt; sprint
    FAMILY=${GERRIT_PATH:0:1}
    
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
    echo &quot;CURRENT_BR_NAME: ${CURRENT_BR_NAME}&quot;
    echo &quot;GERRIT_PATH:     ${GERRIT_PATH}&quot;
    echo &quot;FAMILY:          ${FAMILY}&quot;
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
    echo &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&quot;
    
    if [[ ${array[@]} =~ ${GERRIT_PATH} ]] &amp;&amp; [[ ${LAST_TAG} != *_* ]]; then
        # We are on a branch that is NOT master and this is the first build
        # on the branch (No branch tag yet).
        # The new tag is the master tag with a tail consists of
        # the current branch name dot build number 1 (first build on this branch)
        NEWTAG=&quot;${LAST_TAG}&quot;_&quot;${FAMILY}&quot;-&quot;${CURRENT_BR_NAME}&quot;.1
    elif [[ $LAST_TAG == *_* ]]; then
        # We are on a branch that is NOT master and this is the first build
        # on the branch (Last tag is a branch tag).
        # Tha build number from the (last) branch tag is incremented.
        #
        # TAG_TAIL is everything after the first `_`
        TAG_TAIL=${LAST_TAG#*_}
        LAST_BR_TAG=$(echo ${TAG_TAIL} | gawk -F&apos;_&apos; &apos;{print $NF}&apos;)
        LAST_BR_NAME=$(echo ${LAST_BR_TAG} | gawk -F&apos;.&apos; &apos;{print $1}&apos;)
        LAST_BR_BUILD=$(echo ${LAST_BR_TAG} | gawk -F&apos;.&apos; &apos;{print $2}&apos;)
        # MASTER_TAG is LAST_TAG without TAG_TAIL
        MASTER_TAG=${LAST_TAG%&quot;$TAG_TAIL&quot;}
        # But need to drop the trailing `_`
        MASTER_TAG=${MASTER_TAG::-1}

        NEW_BUILD=$(echo ${LAST_BR_BUILD} | gawk &apos;{print $1+1}&apos;)
    
        NEWTAG_TAIL=$(echo ${TAG_TAIL} | sed &quot;{s/${LAST_BR_TAG}/${LAST_BR_NAME}\.${NEW_BUILD}/g}&quot;)
        NEWTAG=&quot;${MASTER_TAG}&quot;_&quot;${NEWTAG_TAIL}&quot;
    else
        echo &quot;**************************************************************&quot;
        echo &quot;**************************************************************&quot;
        echo &quot;**************************************************************&quot;
        echo &quot;Branch not in list for build. Aborting job!!!&quot;
        echo ABORT_BUILD=TRUE &gt; release.prop
        echo NEWTAG=ABORTED &gt;&gt; release.prop
        echo &quot;**************************************************************&quot;
        echo &quot;**************************************************************&quot;
        echo &quot;**************************************************************&quot;        
        exit 0
    fi
fi


# Need these details for the UpdateVI job
AuthorCommitter=`git log --first-parent --pretty=format:&quot;%aN%n%cN&quot; ${LAST_TAG}..origin/${GERRIT_BRANCH} | grep -v Jenkins | sort -u | sed s/$/\;/g`
RN=&quot;&quot;
while read -r hash; do 
    subject=$(git log --pretty=format:&quot;%s&quot; $hash -n1 | sed &apos;s/\&quot;/`/g; s/---/_/g; s/::/;/g&apos;)
    VI=$(git log --pretty=format:&quot;%B&quot; $hash -n1 | grep Issue | sed &apos;s/.*Issue: //g&apos;)
    RN+=---$subject::$hash::$VI
done &lt;&lt;&lt; &quot;$(git log --first-parent --reverse --pretty=format:&quot;%h&quot; ${LAST_TAG}..origin/${GERRIT_BRANCH})&quot;

EMAIL=`git log --pretty=format:&quot;%ae%n%ce&quot; ${LAST_TAG}..origin/${GERRIT_BRANCH} | sort -u`
GERRIT_PROJECT=`echo ${GIT_URL} | cut -d/ -f4,5 | sed &apos;s:\.git::&apos;`
#User=`git log --first-parent --pretty=format:&quot;%cN&quot; $LAST_TAG..$GERRIT_BRANCH | head -1 | sed s/\ /_/g`

# Prepare job`s envirinment variables
echo ABORT_BUILD=FALSE &gt; release.prop
echo NEW_BUILD=${NEW_BUILD} &gt;&gt; release.prop
echo NEWTAG=${NEWTAG} &gt;&gt; release.prop
echo GERRIT_BRANCH=${GERRIT_BRANCH} &gt;&gt; release.prop
echo VERNUM=${VERNUM} &gt;&gt; release.prop
#echo User=${User} &gt;&gt; release.prop
echo RN=${RN} &gt;&gt; release.prop
echo GERRIT_HOST=$(echo ${GIT_URL} | cut -d@ -f2 | cut -d: -f1)  &gt;&gt; release.prop
echo EMAIL=${EMAIL} &gt;&gt; release.prop
echo PROJECT=${GERRIT_PROJECT} &gt;&gt; release.prop
echo DATE=${DATE} &gt;&gt; release.prop
echo AuthorCommitter=${AuthorCommitter} &gt;&gt; release.prop
echo WTB=${WTB} &gt;&gt; release.prop

echo &quot;**************************************************************&quot;
echo &quot;******************** Exported Variables **********************&quot;
echo &quot;**************************************************************&quot;
cat release.prop
echo &quot;**************************************************************&quot;
echo &quot;**************************************************************&quot;
echo &quot;**************************************************************&quot;
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.6">
      <info>
        <propertiesFilePath>release.prop</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.powershell.PowerShell plugin="powershell@1.3">
      <command>&lt;#
    .SYNOPSIS
    Runs the specified command in an elevated context.

    .DESCRIPTION
    Runs the specified command in an elevated context. This is useful on Windows
    systems where the user account control is enabled. Input object and result
    objects are serialized using XML.
    It&apos;s important, the command does use the current user context. This means,
    the current user needs administrative permissions on the local system.
    If no file path or script block is specified, the current running process
    will be run as administrator.

    .INPUTS
    None.

    .OUTPUTS
    Output of the invoked script block or command.

    .EXAMPLE
    PS C:\&gt; Invoke-Elevated
    Will start the current process, e.g. PowerShell Console or ISE, in an
    elevated session as Administrator.

    .EXAMPLE
    PS C:\&gt; Invoke-Elevated -FilePath &apos;C:\Temp\script.ps1&apos;
    Start the script in an elevated session and return the result.

    .EXAMPLE
    PS C:\&gt; Invoke-Elevated -ScriptBlock { Get-DscLocalConfigurationManager }
    Start the script in an elevated session and return the result.

    .EXAMPLE
    PS C:\&gt; Invoke-Elevated -ScriptBlock { param ($Path) Remove-Item -Path $Path } -ArgumentList &apos;C:\Windows\test.txt&apos;
    Delete a file from the program files folder with elevated permission,
    beacuse a normal user account has no permissions.

    .NOTES
    Author : Claudio Spizzi
    License : MIT License

    .LINK
    https://github.com/claudiospizzi/SecurityFever
#&gt;

function Invoke-Elevated
{
    [System.Diagnostics.CodeAnalysis.SuppressMessageAttribute(&apos;PSShouldProcess&apos;, &apos;&apos;, Scope=&apos;Function&apos;, Target=&apos;Invoke-Elevated&apos;)]
    [CmdletBinding(DefaultParameterSetName = &apos;None&apos;)]
    [Alias(&apos;sudo&apos;)]
    param
    (
        # The path to an executable program.
        [Parameter(Mandatory = $true, Position = 0, ParameterSetName = &apos;FilePath&apos;)]
        [ValidateScript({Test-Path -Path $_})]
        [System.String]
        $FilePath,

        # The script block to execute in an elevated context.
        [Parameter(Mandatory = $true, Position = 0, ParameterSetName = &apos;ScriptBlock&apos;)]
        [System.Management.Automation.ScriptBlock]
        $ScriptBlock,

        # Optional argument list for the program or the script block.
        [Parameter(Mandatory = $false, Position = 1)]
        [System.Object[]]
        $ArgumentList
    )

    if ($PSCmdlet.ParameterSetName -eq &apos;None&apos;)
    {
        # If no file path and script block was specified, just elevate the
        # current session for interactive use. For this, use the start info
        # object of the current process and start an elevated new one.
        $currentProcess = Get-Process -Id $PID

        $processStart = $currentProcess.StartInfo
        $processStart.FileName         = $currentProcess.Path
        $processStart.Verb             = &apos;RunAs&apos;

        $process = New-Object -TypeName System.Diagnostics.Process
        $process.StartInfo = $processStart
        $process.Start() | Out-Null
    }

    if ($PSCmdlet.ParameterSetName -eq &apos;FilePath&apos;)
    {
        # If a file path instead of a script block was specified, just load the
        # file content and parse it as script block.
        $ScriptBlock = [System.Management.Automation.ScriptBlock]::Create((Get-Content -Path $FilePath -ErrorAction Stop -Raw))
    }

    if ($PSCmdlet.ParameterSetName -eq &apos;FilePath&apos; -or $PSCmdlet.ParameterSetName -eq &apos;ScriptBlock&apos;)
    {
        try
        {
            # To transport the parameters, script outputs and the errors, we use
            # the CliXml object serialization and temporary files. This is
            # necessary because the elevated process runs in an elevated context
            $scriptBlockFile   = [System.IO.Path]::GetTempFileName() + &apos;.xml&apos;
            $argumentListFile  = [System.IO.Path]::GetTempFileName() + &apos;.xml&apos;
            $commandOutputFile = [System.IO.Path]::GetTempFileName() + &apos;.xml&apos;
            $commandErrorFile  = [System.IO.Path]::GetTempFileName() + &apos;.xml&apos;

            $ScriptBlock  | Export-Clixml -Path $scriptBlockFile
            $ArgumentList | Export-Clixml -Path $argumentListFile

            # Create a command string which contains all command executed in the
            # elevated session. The wrapper of the script block is needed to
            # pass the parameters and return all outputs objects and errors.
            $commandString = &apos;&apos;
            $commandString += &apos;Set-Location -Path &quot;{0}&quot;;&apos; -f $pwd.Path
            $commandString += &apos;$scriptBlock = [System.Management.Automation.ScriptBlock]::Create((Import-Clixml -Path &quot;{0}&quot;));&apos; -f $scriptBlockFile
            $commandString += &apos;$argumentList = [System.Object[]] (Import-Clixml -Path &quot;{0}&quot;);&apos; -f $argumentListFile
            $commandString += &apos;$output = Invoke-Command -ScriptBlock $scriptBlock -ArgumentList $argumentList;&apos;
            $commandString += &apos;$error | Export-Clixml -Path &quot;{0}&quot;;&apos; -f $commandErrorFile
            $commandString += &apos;$output | Export-Clixml -Path &quot;{0}&quot;;&apos; -f $commandOutputFile

            $commandEncoded = [System.Convert]::ToBase64String([System.Text.Encoding]::Unicode.GetBytes($commandString))

            $processStart = New-Object -TypeName System.Diagnostics.ProcessStartInfo -ArgumentList &apos;C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe&apos;
            $processStart.Arguments   = &apos;-NoProfile -NonInteractive -EncodedCommand {0}&apos; -f $commandEncoded
            $processStart.Verb        = &apos;RunAs&apos;
            $processStart.WindowStyle = &apos;Hidden&apos;

            $process = New-Object -TypeName System.Diagnostics.Process
            $process.StartInfo = $processStart
            $process.Start() | Out-Null

            Write-Verbose &quot;Elevated powershell.exe process started with id $($process.Id).&quot;

            $process.WaitForExit()

            Write-Verbose &quot;Elevated powershell.exe process stopped with exit code $($process.ExitCode).&quot;

            if ((Test-Path -Path $commandErrorFile))
            {
                Import-Clixml -Path $commandErrorFile | ForEach-Object { Write-Error $_ }
            }

            if ((Test-Path -Path $commandOutputFile))
            {
                Import-Clixml -Path $commandOutputFile | Write-Output
            }
        }
        catch
        {
            throw $_
        }
        finally
        {
            if ($null -ne $process)
            {
                $process.Dispose()
            }

            Remove-Item -Path $scriptBlockFile   -Force -ErrorAction SilentlyContinue
            Remove-Item -Path $argumentListFile  -Force -ErrorAction SilentlyContinue
            Remove-Item -Path $commandOutputFile -Force -ErrorAction SilentlyContinue
            Remove-Item -Path $commandErrorFile  -Force -ErrorAction SilentlyContinue
        }
    }
}

Invoke-Elevated -ScriptBlock {
	foreach($line in Get-Content .\release.prop) {
		if(-Not $line.startswith(&quot;#&quot;)){
			$data = $line.split(&apos;=&apos;)
			$var = $data[0]
			$val = $data[1].replace(&apos;&quot;&apos;,&apos;&apos;)
			[Environment]::SetEnvironmentVariable($var, $val, &quot;Machine&quot;)
		}
	}
}</command>
    </hudson.plugins.powershell.PowerShell>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.6">
      <condition class="org.jenkins_ci.plugins.run_condition.logic.Not" plugin="run-condition@1.0">
        <condition class="org.jenkins_ci.plugins.run_condition.core.BooleanCondition">
          <token>${ABORT_BUILD}</token>
        </condition>
      </condition>
      <buildStep class="hudson.tasks.BatchFile">
        <command>echo &quot;Running build batch with build number (%NEW_BUILD%)&quot;&#xd;
cd Build&#xd;
call build.bat %NEW_BUILD%&#xd;
&#xd;
IF EXIST &quot;%WORKSPACE%\Deployment\Release\*.7z&quot; DEL &quot;%WORKSPACE%\Deployment\Release\*.7z&quot; /s&#xd;
&#xd;
&quot;C:\Program Files\7-Zip\7z.exe&quot; a C:\j\workspace\mtrBLD\Deployment\Release\%NEWTAG%.7z C:\j\workspace\mtrBLD\Deployment\Release\&#xd;
&#xd;
</command>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.15.2">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.logic.Not" plugin="run-condition@1.0">
            <condition class="org.jenkins_ci.plugins.run_condition.core.BooleanCondition">
              <token>${ABORT_BUILD}</token>
            </condition>
          </condition>
          <publisherList>
            <hudson.plugins.git.GitPublisher plugin="git@4.0.0">
              <configVersion>2</configVersion>
              <pushMerge>false</pushMerge>
              <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
              <forcePush>false</forcePush>
              <tagsToPush>
                <hudson.plugins.git.GitPublisher_-TagToPush>
                  <targetRepoName>origin</targetRepoName>
                  <tagName>${NEWTAG}</tagName>
                  <tagMessage>Jenkins auto tagging</tagMessage>
                  <createTag>true</createTag>
                  <updateTag>true</updateTag>
                </hudson.plugins.git.GitPublisher_-TagToPush>
              </tagsToPush>
            </hudson.plugins.git.GitPublisher>
            <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
              <configs>
                <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
                  <configs>
                    <hudson.plugins.parameterizedtrigger.FileBuildParameters>
                      <propertiesFile>release.prop</propertiesFile>
                      <failTriggerOnMissing>false</failTriggerOnMissing>
                      <textParamValueOnNewLine>false</textParamValueOnNewLine>
                      <useMatrixChild>false</useMatrixChild>
                      <onlyExactRuns>false</onlyExactRuns>
                    </hudson.plugins.parameterizedtrigger.FileBuildParameters>
                  </configs>
                  <projects>Update-Jira</projects>
                  <condition>UNSTABLE_OR_BETTER</condition>
                  <triggerWithNoParameters>false</triggerWithNoParameters>
                  <triggerFromChildProjects>false</triggerFromChildProjects>
                </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
              </configs>
            </hudson.plugins.parameterizedtrigger.BuildTrigger>
            <hudson.tasks.ArtifactArchiver>
              <artifacts>Deployment\Release\BuildLogs\**\*.*</artifacts>
              <allowEmptyArchive>false</allowEmptyArchive>
              <onlyIfSuccessful>false</onlyIfSuccessful>
              <fingerprint>false</fingerprint>
              <defaultExcludes>true</defaultExcludes>
              <caseSensitive>true</caseSensitive>
            </hudson.tasks.ArtifactArchiver>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
    <hudson.tasks.Mailer plugin="mailer@1.30">
      <recipients>yuval.yosha@audiocodes.com shuky.riechard@audiocodes.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>true</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun></regexpForRerun>
      <rerunIfUnstable>false</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>false</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>60</delay>
      </delay>
      <maxSchedule>1</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
  </publishers>
  <buildWrappers>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@3.5.0">
      <deployerDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <deployReleaseRepository>
          <keyFromText></keyFromText>
          <keyFromSelect>mtr-release</keyFromSelect>
          <dynamicMode>false</dynamicMode>
        </deployReleaseRepository>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>false</useSpecs>
      <uploadSpec>
        <spec></spec>
      </uploadSpec>
      <downloadSpec>
        <spec></spec>
      </downloadSpec>
      <deployPattern>C:\j\workspace\mtrBLD\Deployment\Release\${NEWTAG}.7z=&gt;MeetingRecorder/${GERRIT_BRANCH}/${VERNUM}/</deployPattern>
      <resolvePattern></resolvePattern>
      <deploymentProperties></deploymentProperties>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName></customBuildName>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.0.3">
      <template>#${BUILD_NUMBER}__${NEWTAG}</template>
      <descriptionTemplate></descriptionTemplate>
      <runAtStart>false</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>