<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TPRAM_BRANCH</name>
          <description/>
          <defaultValue>7.4</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@2.3.0">
      <info>
        <secureGroovyScript plugin="script-security@1.71">
          <script/>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jenkins@test-gerrit:29418/TP/TrunkPackLib</url>
        <credentialsId>fef9964a-ddb7-4ce6-a445-a99a9e9802c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${GERRIT_REFNAME}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.BuildChooserSetting>
        <buildChooser class="com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTriggerBuildChooser" plugin="gerrit-trigger@2.30.5">
          <separator>#</separator>
        </buildChooser>
      </hudson.plugins.git.extensions.impl.BuildChooserSetting>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
        <deleteUntrackedNestedRepositories>false</deleteUntrackedNestedRepositories>
      </hudson.plugins.git.extensions.impl.CleanBeforeCheckout>
    </extensions>
  </scm>
  <assignedNode>TrunkPackLib</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger plugin="gerrit-trigger@2.30.5">
      <spec/>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>TP/TrunkPackLib</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>ANT</compareType>
              <pattern>refs/tags/L7.*</pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
          <disableStrictForbiddenFileVerification>false</disableStrictForbiddenFileVerification>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <dynamicGerritProjects class="empty-list"/>
      <skipVote>
        <onSuccessful>false</onSuccessful>
        <onFailed>false</onFailed>
        <onUnstable>false</onUnstable>
        <onNotBuilt>false</onNotBuilt>
      </skipVote>
      <silentMode>false</silentMode>
      <notificationLevel/>
      <silentStartMode>false</silentStartMode>
      <escapeQuotes>true</escapeQuotes>
      <nameAndEmailParameterMode>PLAIN</nameAndEmailParameterMode>
      <dependencyJobsNames/>
      <commitMessageParameterMode>BASE64</commitMessageParameterMode>
      <changeSubjectParameterMode>PLAIN</changeSubjectParameterMode>
      <commentTextParameterMode>PLAIN</commentTextParameterMode>
      <buildStartMessage>gerrit review &lt;CHANGE&gt;,&lt;PATCHSET&gt; --message 'Build Started &lt;BUILDS_STATS&gt;' --notify=NONE</buildStartMessage>
      <buildFailureMessage/>
      <buildSuccessfulMessage/>
      <buildUnstableMessage/>
      <buildNotBuiltMessage/>
      <buildUnsuccessfulFilepath/>
      <customUrl/>
      <serverName>test-gerrit</serverName>
      <triggerOnEvents>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginRefUpdatedEvent/>
      </triggerOnEvents>
      <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
      <triggerConfigURL/>
      <triggerInformationAction/>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>set PATH=C:\Program Files\bin;%PATH%;C:\Program Files\Git\bin;C:\Program Files\WinZip&#13;
cd ..&#13;
IF NOT EXIST .git (&#13;
  git -c http.sslverify=false clone -n https://test-gerrit/TP/GWApp GWApp&#13;
  mkdir .git&#13;
  FOR /d %%i IN (GWApp\.git\*) DO move %%i .git&#13;
  move GWApp\.git\* .git&#13;
  rmdir /S /Q GWApp&#13;
)&#13;
&#13;
@set TPFILES=TrunkPackRam/PSTN/PSTN_Interface&#13;
@rem set TPFILES=%TPFILES% TrunkPackRam/Transmission/TransmInterface&#13;
@set TPFILES=%TPFILES% TrunkPackRam/TPApp&#13;
@set TPFILES=%TPFILES% TrunkPackRam/ControlProtocols/CommonResources/Include&#13;
@set TPFILES=%TPFILES% Modules/GWApp/Pkgs/Services/LDAP/LDAPService/Include&#13;
@echo Checking out TrunkPackRam linked files&#13;
git -c http.sslverify=false fetch&#13;
@git checkout -f origin/%GERRIT_BRANCH% -- %TPFILES% || git checkout -f origin/$TPRAM_BRANCH -- %TPFILES%&#13;
cd %WORKSPACE%&#13;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>&#13;
set PATH=%PATH%;C:\Program Files\Git\bin;C:\cygwin\bin;C:\Program Files\WinZip&#13;
&#13;
git describe --tags &gt; TAG.txt&#13;
set /P BL=&lt;TAG.txt&#13;
echo COMP_VER=%BL% &gt; generated_version.properties&#13;
git branch --no-color -r --contains HEAD | tail -1 | cut -d/ -f2 | sed 's:feature/voice-ai:7.4:' &gt; GIT_BRANCH.txt&#13;
set /P GIT_BRANCH=&lt;GIT_BRANCH.txt&#13;
echo GIT_BRANCH=%GIT_BRANCH% &gt;&gt; generated_version.properties&#13;
&#13;
rem ------------ build all LIB ---------------&#13;
echo cd %WORKSPACE:\=/% &gt; c:\temp\BuildHost.sh&#13;
echo Minor=`echo %BL% ^| cut -d. -f3` &gt;&gt; c:\temp\BuildHost.sh&#13;
echo sed -e "s/#define ACL_API_MINOR_VERSION.*/#define ACL_API_MINOR_VERSION $Minor/" VoPLib/include/VoIPver.h ^&gt; VoIPver.h &gt;&gt; c:\temp\BuildHost.sh&#13;
echo cp -f VoIPver.h VoPLib/include/VoIPver.h &gt;&gt; c:\temp\BuildHost.sh&#13;
"C:\Program Files\Git\bin\bash.exe" --login -c "c:/temp/BuildHost.sh"&#13;
&#13;
"C:\Program Files\Git\bin\bash.exe" --login -c "./Build_Host_Compilation %BL% 74"&#13;
&#13;
rem ------------ build tpncp.dat ---------------&#13;
cd voplibtcl\voplibext\wireshark&#13;
"C:\Program Files\Git\bin\bash.exe" --login -c ./wireshark.tcl&#13;
&#13;
set maxbytesize=300000&#13;
FOR /F "usebackq" %%A IN ('tpncp.dat') DO set size=%%~zA&#13;
if %size% LSS %maxbytesize% (&#13;
  echo "Error: WireShark TPNTP dat PlugIn was failed, Image too small.. exit with error"&#13;
  set errorlevel=1&#13;
) ELSE (&#13;
  mkdir c:\temp\%BL%\Utilities\WiresharkPlugins\shared&#13;
  copy tpncp.dat c:\temp\%BL%\Utilities\WiresharkPlugins\shared&#13;
  WZZIP -rp ..\..\..\tpncp_dat.zip tpncp.dat 2&gt; NUL&#13;
)&#13;
&#13;
cd ..\..\..&#13;
WZZIP -rp lib.zip build\%BL% &gt; NUL 2&gt;&amp;1&#13;
&#13;
set MAIN_GIT_BRANCH=%GIT_BRANCH%&#13;
set count=0&#13;
for %%a in (%GIT_BRANCH:.= %) do set /a count+=1&#13;
if %count% == 3 ( set MAIN_GIT_BRANCH=%GIT_BRANCH:~0,-1%0 )&#13;
&#13;
net use y: /DELETE&#13;
net use y: "\\netapp1\cm\CompilationResults\%MAIN_GIT_BRANCH% Release"&#13;
mkdir y:\Lib\%BL%&#13;
copy /Y lib.zip y:\Lib\%BL%&#13;
mkdir y:\TCL\%BL%&#13;
copy /Y voplibtcl\voplibext\voplibcon\* y:\TCL\%BL%&#13;
&#13;
IF EXIST z:acWireShark.zip ( echo Z is already mapping to netapp&#13;
) ELSE ( net use z: "\\netapp1\cm\CompilationResults\WireShark\_Latest" )&#13;
&#13;
copy /Y voplibtcl\voplibext\wireshark\tpncp.dat z:Plugins_x64&#13;
copy /Y voplibtcl\voplibext\wireshark\tpncp.dat z:plugins&#13;
z:&#13;
del /F acWireShark.zip&#13;
WZZIP -rpu acWireShark.zip&#13;
&#13;
cd %WORKSPACE%</command>
    </hudson.tasks.BatchFile>
    <EnvInjectBuilder plugin="envinject@2.3.0">
      <info>
        <propertiesFilePath>generated_version.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>alex.rodikov</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@3.6.1">
      <deployerDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <deployReleaseRepository>
          <keyFromText/>
          <keyFromSelect>sbc-release</keyFromSelect>
          <dynamicMode>false</dynamicMode>
        </deployReleaseRepository>
        <stagingPlugin/>
      </deployerDetails>
      <resolverDetails>
        <artifactoryName>artifactory2-pro</artifactoryName>
        <artifactoryUrl>https://artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>false</useSpecs>
      <uploadSpec>
        <spec/>
      </uploadSpec>
      <downloadSpec>
        <spec/>
      </downloadSpec>
      <deployPattern>${WORKSPACE}/lib.zip=&gt;com/ac/sbc/$GIT_BRANCH/Lib/${COMP_VER}
${WORKSPACE}/tpncp_dat.zip=&gt;com/ac/sbc/WireShark/TPNCP_dat/${COMP_VER}</deployPattern>
      <resolvePattern/>
      <deploymentProperties/>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>true</includeEnvVars>
      <envVarsPatterns>
        <includePatterns/>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName/>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.0.3">
      <template>#${BUILD_NUMBER} ${GERRIT_REFNAME}</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>