<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>nurits</id>
  <fullName>Nurit Shenhar</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw987Xkybi54MAAXGk9LK7cAqGNHVNKSO4/T9YFXvQGlCSLGEAJAdcFIi9iHWSlOTj63ZXmsuXii2vXGUVF76zqQ==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>39320802-382e-4309-bf82-de9e9c30bce3</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>a892bdc26084b4c059d45053559fe1b3df4b0fae9f54dfa2926fb991308bc983</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string>Agile users</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>System_Software</string>
        <string>AWS_Jira_Users</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Sp365-Devops-Read</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># R&amp;D Sys SW Group Leaders</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>365_Tas</string>
        <string># All Managers</string>
        <string>Password Manager Apply</string>
        <string># Agile users</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string>AudiocodesUK</string>
        <string># All HotMobile</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># SBC SIP Infra</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string># Senior Forum</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string># R&amp;D Sys SW Team Leaders</string>
        <string># R&amp;D Application Group</string>
      </roles>
      <timestamp>1588517663341</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Nurit.Shenhar@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>8b3e5ba3eea5876a</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>