<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>tomersh</id>
  <fullName>Tomer Sharabi</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwrZzd/tyTSNz50udF5WO6hvvG/b+jpUcYjaW/COkpmCMfANAvYNfHHEttooMoEEIxs1W6cb+4F8h2w8QSGnQ4Xg==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>73b85859-8ca8-4d37-a8d6-f1067fbf71ac</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>782d74185600ae0068032c9d6815ccc290ae41b2ee6c7b782a16acd77c600de6</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># TRAVEL IL</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>365_Comeet</string>
        <string>AWS_Jira_Users</string>
        <string># All Support</string>
        <string># All Cars</string>
        <string>365_Monday</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string>Sp365-rdnetworking-modify</string>
        <string>BIS Service</string>
        <string># SBC version release</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>365_Tas</string>
        <string># AUDC - actiTIME</string>
        <string>Password Manager Apply</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># Support KB Editors</string>
        <string># AUDC - EMS (RTP)</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># Israel FAE Group</string>
        <string># support-DACH</string>
        <string>Vopp</string>
        <string>Linuxusers</string>
        <string># MSBR</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>BIS Feature Keying</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string># SP365 - GlobalServices-modify</string>
        <string># MSBR ETAS</string>
      </roles>
      <timestamp>1590068899877</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Tomer.Sharabi@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>f86c2fd51642de8d</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>