<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>garyd</id>
  <fullName>Gary Dickman</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwNtJLDX00TMaP09O28pUdEPwoAt8sOHm+feApISL2fi6RYMqDJgIVnXJtjTK1PfcQ61nOg5O6m2mhKOtldK6Wcg==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>bd6fffdb-a377-4aac-a68c-e4773e19e289</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>d0ced028ec4a5b2a5b84886725b5b7785c060818fa576cd4dad9772e2e66c285</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>Agile users</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>System_Software</string>
        <string># All 012 voip</string>
        <string># Board ETAS</string>
        <string>AWS_Jira_Users</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string># All Friday</string>
        <string>WirelessUsers</string>
        <string>Sp365-Devops-Read</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>mapper_project@audiocodes.com</string>
        <string># Gym</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># Agile users</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>netbricks_jira</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string># PSTN</string>
      </roles>
      <timestamp>1583920476171</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Gary.Dickman@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>6fb94e1ea13189b1</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>