<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>danielk</id>
  <fullName>Daniel Kochav</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw2gh0wVs4uWpB6BH/GCVbMYZFgBOHISJXoLBUeDVvz/Q7qt/cvtowdprhNMW1pYNugPztwWQG6td7yIasOzmpSA==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>85567c8b-3baa-448f-9033-a67743ca7b6f</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>3f84d8b3303c5dcbe8b3b70dfef62be46f55a787e6c6f0dce03a8e5c926b7b80</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Daniel.Kochav@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>365_Comeet</string>
        <string># SmartTAP Dev</string>
        <string>AWS_Jira_Users</string>
        <string># SQA ALL</string>
        <string># AUDC-HR-MGRS-NA-CAN-LATAM</string>
        <string>AI-Engineering</string>
        <string>365_Monday</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>FTP_2G</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Citrix_Allow_Visio</string>
        <string>Sp365-Devops-Read</string>
        <string>Allow Office365 Groups</string>
        <string>#All Breakfast</string>
        <string>AI-ENG</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>AI-QA</string>
        <string># SQA_CORE</string>
        <string>QA Group</string>
        <string>365_Tas</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string># AUDC - NJ Engineering Team</string>
        <string>AudioCodes_VPN</string>
        <string># SmartTAP</string>
        <string># SmartTap-BS</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
        <string>sp365-smarttap-modify</string>
        <string>EMS_RW_Access</string>
      </roles>
      <timestamp>1589888791201</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>4d1c15469e964704</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>