<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>motye</id>
  <fullName>Moty Evroni</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwL+5Ctd+mO5vK1fn6JPq2DbRKxx/UjY1Vam7xXbMJCnXlClx2Wy6eq4kVO7w/pznKcb6NPNpdsnwtrZEgQ8Pjhg==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>446648c6-cb87-4d62-9eda-67636a103352</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>49ddba6d31738f4ade879d1a2dd693e364bdc9c54362078ac06ff4de7d55fb8b</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Moty.Evroni@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>Agile users</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>System_Software</string>
        <string># Board ETAS</string>
        <string>AWS_Jira_Users</string>
        <string>Synagogue</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Sp365-Devops-Read</string>
        <string># ClearCase R&amp;D</string>
        <string>#All Breakfast</string>
        <string># All R&amp;D</string>
        <string># R&amp;D System Software</string>
        <string># Al Volunteers</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>QA Group</string>
        <string># Gym</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># Agile users</string>
        <string># All ISRAEL</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string># All HotMobile</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
      </roles>
      <timestamp>1580981738500</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>fcbc57d02bfc8226</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>