<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>natanm</id>
  <fullName>Natan Merfish</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>System_Software</string>
        <string>TG1000</string>
        <string># All__Beer_Sheva</string>
        <string>cc_users</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_ARM_access_BS_Internal_Users</string>
        <string>Citrix_Allow_Visio</string>
        <string>WirelessUsers</string>
        <string>Sp365-Devops-Read</string>
        <string># R&amp;D Support Escalation</string>
        <string># All Lunch</string>
        <string>Logistics_maintenance</string>
        <string># All Beer Sheva</string>
        <string># All Managers</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string># RnD Solutions SW group</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>Mailvision Branch Office Users</string>
        <string># All Cellular</string>
        <string># R&amp;D HDGW Team Leaders</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string># All Airport City</string>
        <string>Sp365-DevOps-modify</string>
        <string>EMS_RW_Access</string>
        <string>CI_ARM_developers</string>
        <string>Agile users</string>
        <string># ARM</string>
        <string>R&amp;D HDGW software</string>
        <string>AWS_Jira_Users</string>
        <string># RnD ARM</string>
        <string># All Cars</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>CLMADMIN</string>
        <string># All Cellcom</string>
        <string>Palo_Access_Aws_Azure-ssh</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string>CatalogApps_Everyone</string>
        <string># R&amp;D HDGW GROUP</string>
        <string>FTP_default</string>
        <string>Domain Users</string>
        <string># OVOC</string>
        <string>Citrix_Allow_Project</string>
        <string>Palo_Access_To_Amazon_RnD_Admins</string>
        <string># R&amp;D DevOps</string>
      </roles>
      <timestamp>1567505147694</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Natan.Merfish@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>a291d11c928a2972</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>