<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>meitarl</id>
  <fullName>Meitar Lisha</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.32">
      <emailAddress>Meitar.Lisha@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string># All__Beer_Sheva</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># All Beer Sheva</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># All ISRAEL</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># All HotMobile</string>
        <string>AudioCodes_VPN</string>
        <string># OVOC MGMT</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string>NewUser_Israel-BS</string>
        <string># OVOC</string>
        <string>EMS_RW_Access</string>
      </roles>
      <timestamp>1577799295988</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>0724ea4c7e507dd1</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.model.TimeZoneProperty/>
  </properties>
</user>