<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>orgads</id>
  <fullName>Orgad Shaneh</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwTMTwKO39ZeMBy8zC7sE1dNMph5jXB8i6y/7fcJO8wBofHyOn5dLHf3WBFOTUt72xA/n1p61XOmT1WoB3Ba/v6g==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>1cbf6e8f-b8a2-43a6-90f7-58de79a3c772</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>fee330f6dfa12df7d4337b06108477b669e9fc1045e310880999b8a669a6b640</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>Agile users</string>
        <string># All Dinner</string>
        <string>authenticated</string>
        <string>AWS_Jira_Users</string>
        <string>Synagogue</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Amazon_RnD_Users_Access</string>
        <string>Sp365-Devops-Read</string>
        <string>Allow Office365 Groups</string>
        <string># ClearCase R&amp;D</string>
        <string>#All Breakfast</string>
        <string># All R&amp;D</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># Agile users</string>
        <string>365_Lucca</string>
        <string># All ISRAEL</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string>Linuxusers</string>
        <string># BatchRunnerBlockStream</string>
        <string>AudioCodes_VPN</string>
        <string># SBC SIP Infra</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>CPE</string>
        <string># R&amp;D Application Group</string>
      </roles>
      <timestamp>1580816569519</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Orgad.Shaneh@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>cd7ab37ea97b72ac</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>