<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@2.1.5">
      <info>
        <secureGroovyScript plugin="script-security@1.42">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <refspec>$GERRIT_REFSPEC</refspec>
        <url>ssh://jenkins@test-gerrit:29418/SmartTAP/SmartTAP</url>
        <credentialsId>fef9964a-ddb7-4ce6-a445-a99a9e9802c0</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$GERRIT_REFSPEC</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.BuildChooserSetting>
        <buildChooser class="com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTriggerBuildChooser" plugin="gerrit-trigger@2.27.5">
          <separator>#</separator>
        </buildChooser>
      </hudson.plugins.git.extensions.impl.BuildChooserSetting>
    </extensions>
  </scm>
  <assignedNode>smt-cppcheck</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger plugin="gerrit-trigger@2.27.5">
      <spec></spec>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>SmartTAP/SmartTAP</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>ANT</compareType>
              <pattern>**</pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
          <disableStrictForbiddenFileVerification>false</disableStrictForbiddenFileVerification>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <dynamicGerritProjects class="empty-list"/>
      <skipVote>
        <onSuccessful>true</onSuccessful>
        <onFailed>true</onFailed>
        <onUnstable>true</onUnstable>
        <onNotBuilt>true</onNotBuilt>
      </skipVote>
      <silentMode>false</silentMode>
      <notificationLevel></notificationLevel>
      <silentStartMode>false</silentStartMode>
      <escapeQuotes>true</escapeQuotes>
      <nameAndEmailParameterMode>PLAIN</nameAndEmailParameterMode>
      <dependencyJobsNames></dependencyJobsNames>
      <commitMessageParameterMode>BASE64</commitMessageParameterMode>
      <changeSubjectParameterMode>PLAIN</changeSubjectParameterMode>
      <commentTextParameterMode>BASE64</commentTextParameterMode>
      <buildStartMessage></buildStartMessage>
      <buildFailureMessage></buildFailureMessage>
      <buildSuccessfulMessage></buildSuccessfulMessage>
      <buildUnstableMessage></buildUnstableMessage>
      <buildNotBuiltMessage></buildNotBuiltMessage>
      <buildUnsuccessfulFilepath></buildUnsuccessfulFilepath>
      <customUrl></customUrl>
      <serverName>test-gerrit</serverName>
      <triggerOnEvents>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginPatchsetCreatedEvent>
          <excludeDrafts>false</excludeDrafts>
          <excludeTrivialRebase>true</excludeTrivialRebase>
          <excludeNoCodeChange>true</excludeNoCodeChange>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginPatchsetCreatedEvent>
      </triggerOnEvents>
      <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
      <triggerConfigURL></triggerConfigURL>
      <triggerInformationAction/>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cat &lt;&lt;-EOF &gt; ~/.netrc
machine test-gerrit login jenkins password $jpass
machine gerrit login jenkins password $jpass
EOF

cd ${WORKSPACE}/..
rm -rf tools
git clone -n ssh://gerrit/devops/tools

cd tools

git checkout -f origin/master -- cppcheck/cppreview.sh
git checkout -f origin/master -- cppcheck/suppressions.txt
#git checkout -f origin/master -- cppcheck/exclude.txt

cp cppcheck/* ${WORKSPACE}/

cd ${WORKSPACE}

## Process cppcheck report:
## Running cppcheck with option files from above and generating a flat text file report.
## The report is processed and avote on Gerrit is done according to these results.
. ./cppreview.sh


## Run Sputnik
#sed -i &apos;s/pmd\.enabled\=true/pmd\.enabled\=false/g&apos; /home/centos/jenkinsslave/test-gerrit.properties
#cat /home/centos/jenkinsslave/test-gerrit.properties
#sed -i &apos;s/^pmd\.ruleSets.*$/pmd\.ruleSets\=/g&apos; /home/centos/jenkinsslave/test-gerrit.properties

cat &lt;&lt; EOF &gt; /home/centos/jenkinsslave/pmd-basic.xml
  &lt;?xml version=&quot;1.0&quot; ?&gt; 
- &lt;ruleset name=&quot;Basic&quot; xmlns=&quot;http://pmd.sourceforge.net/ruleset/2.0.0&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;http://pmd.sourceforge.net/ruleset/2.0.0 http://pmd.sourceforge.net/ruleset_2_0_0.xsd&quot;&gt;
  &lt;description&gt;The Basic ruleset contains a collection of good practices which should be followed.&lt;/description&gt; 
- &lt;!--  Rules, that have been moved into a category 
  --&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/AvoidBranchingStatementAsLastInLoop&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/AvoidDecimalLiteralsInBigDecimalConstructor&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/AvoidMultipleUnaryOperators&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/AvoidUsingOctalValues&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/BrokenNullCheck&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/CheckSkipResult&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/ClassCastExceptionWithToArray&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/DontUseFloatTypeForLoopIndices&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/JumbledIncrementer&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/MisplacedNullCheck&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/OverrideBothEqualsAndHashcode&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/ReturnFromFinallyBlock&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/errorprone.xml/UnconditionalIfStatement&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/multithreading.xml/AvoidThreadGroup&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/multithreading.xml/DontCallThreadRun&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/multithreading.xml/DoubleCheckedLocking&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/bestpractices.xml/AvoidUsingHardCodedIP&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/bestpractices.xml/CheckResultSet&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/codestyle.xml/ExtendsObject&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/codestyle.xml/ForLoopShouldBeWhileLoop&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/performance.xml/BigIntegerInstantiation&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/performance.xml/BooleanInstantiation&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/design.xml/CollapsibleIfStatements&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;rule ref=&quot;category/java/design.xml/SimplifiedTernary&quot; deprecated=&quot;true&quot; /&gt; 
  &lt;/ruleset&gt;
EOF

/opt/sputnik/bin/sputnik --conf /home/centos/jenkinsslave/test-gerrit.properties --changeId $GERRIT_CHANGE_ID --revisionId $GERRIT_PATCHSET_REVISION || { echo &quot;*** sputnik failed but exit 0 ***&quot; &amp;&amp; exit 0; }
echo &quot;exit 0 workaround&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>shukyr@audiocodes.com yuvaly@audiocodes.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>jpass</name>
          <value>{AQAAABAAAAAQg/xqVoyMvXHg4SeOZMsGuwdTqqmsygWkZImPZR1R5zI=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.9">
      <template>#${BUILD_NUMBER} - ${GERRIT_BRANCH} - ${GERRIT_CHANGE_OWNER_NAME}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>