<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>the new revision for the old job: download file by file (not one ZIP file)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.10"/>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>15</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ARTIFACTORY</name>
          <description/>
          <defaultValue>test-artifactory</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE</name>
          <description/>
          <defaultValue>sbc-release/com/ac/sbc/7.2.150/Firmware</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DESTINATION</name>
          <description/>
          <defaultValue>\\aclnas03\Versions\CompilationResults\7.2.150 Release\7.2.154</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FROMDIR</name>
          <description/>
          <defaultValue>7.20A.153.000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TODIR</name>
          <description/>
          <defaultValue>7.20A.153.241</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAX</name>
          <description>The maximum number of directories you want to save in this build</description>
          <defaultValue>250</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DELETE_ELF</name>
          <description/>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>compile3</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>mkdir -p "%DESTINATION%"&#13;
net use T: /delete&#13;
net use T: "%DESTINATION%"&#13;
&#13;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.Shell>
      <command>#!c:\cygwin_aclnas03\bin\bash  --login -i

User=$ARTIFACTORY_USER:$ARTIFACTORY_PASSWORD
curl=c:/curl/curl

cd $WORKSPACE
DirList=`$curl -ks -X GET https://$ARTIFACTORY/api/storage/$SOURCE | grep uri | cut -d'"' -f4 | cut -c 2- | sort -V | grep -A $MAX $FROMDIR | grep -B $MAX $TODIR -m1`
if [ $(echo $DirList | wc -w) -gt $MAX ]; then 
   echo Over the max range... abort; 
   exit 1;
fi

function DeleteELF() {
  local Folder=$1
  $curl -ks -X GET https://$ARTIFACTORY/api/storage/$Folder | grep 'uri\|folder' | while read line
  do
    if echo $line | grep folder | grep -q true; then DeleteELF ${Folder}$uri;
    else
      uri=`echo $line | cut -d'"' -f4`;
      if echo $line | grep -q .\\.elf; then
        echo Delete file ${Folder}$uri
        $curl -ks -u $User -X DELETE https://$ARTIFACTORY/${Folder}$uri
      fi
    fi
  done
}

function EachFolder() {
  
  local Folder=$1
  local TargetPath=$(echo $Folder | sed s:$SOURCE::)
  $curl -ks -X GET https://$ARTIFACTORY/api/storage/$Folder | grep uri | grep -v https: | sort -V | while read line
  do
    uri=`echo $line | cut -d'"' -f4`
    DestSize=0; ArtSize=0
    ArtSize=`$curl -ks -X GET https://$ARTIFACTORY/api/storage/${Folder}$uri | grep size | cut -d: -f2 | cut -d'"' -f2`
    if [ "$ArtSize" != "" ]; then
        echo Download file ${Folder}$uri...
        $curl -ks -u $User -X GET https://$ARTIFACTORY/${Folder}$uri --output "${DESTINATION}${TargetPath}$uri"
        DestSize=`wc -c &lt;"${DESTINATION}${TargetPath}$uri"`
        if [ "$ArtSize" != "$DestSize" ]; then 
          echo $ArtSize--$DestSize: $file is differ - No delete and exit......
          exit 1
        else
          echo Size equel - delete from Artifactory...
          $curl -ks -u $User -X DELETE https://$ARTIFACTORY/${Folder}$uri
         fi
    else
        mkdir "${DESTINATION}${TargetPath}$uri"
        EachFolder "${Folder}$uri";
        if $curl -ks -X GET https://$ARTIFACTORY/api/storage/${Folder}$uri | grep -qF '"children" : [ ],'; then 
          echo ----- Delete the empty directory from Artifactory ${Folder}$uri...
          $curl -ks -u $User -X DELETE https://$ARTIFACTORY/${Folder}$uri
        fi
    fi
  done
}

echo Going to download: "$DirList" into "$DESTINATION"
GROUP=$(echo $SOURCE | awk -F/ '{ print $NF }')

DESTINATION=$(echo $DESTINATION | sed -e 's:\\:/:g')

for Dir in $DirList; do
   echo --------------------------------- Start $Dir
   
   if [ "$DELETE_ELF" = "true" ]; then echo Delete ELF files; DeleteELF $SOURCE/$Dir; fi

   echo Download $Dir
   mkdir "${DESTINATION}/$Dir"
   EachFolder $SOURCE/$Dir
   if $curl -ks -X GET "https://$ARTIFACTORY/api/storage/$SOURCE/$Dir" | grep -qF '"children" : [ ],'; then 
     echo ----------------- Delete the empty directory from Artifactory $SOURCE/$Dir...
     $curl -ks -u $User -X DELETE "https://$ARTIFACTORY/$SOURCE/$Dir"
   fi  
done

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.32">
      <recipients>yossim shukyr</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@2.3.0">
      <info>
        <propertiesContent>ARTIFACTORY_USER=jenkins</propertiesContent>
        <secureGroovyScript plugin="script-security@1.71">
          <script/>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>ARTIFACTORY_PASSWORD</name>
          <value>{AQAAABAAAAAQd0y1a9O+zzuMjF54BIYkqo9b8F6XRyV5j2KddG9ug8s=}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.0.3">
      <template>#${BUILD_NUMBER}, $SOURCE: $FROMDIR -- $TODIR</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>