<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>neomih</id>
  <fullName>Neomi Hiddai</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw2dQmEieLSotXS7X8/EYKyqi9QdbQj2w4bQf+KwvZT2mRXsM/0aKs0ys6r/wPz2lR93J4L55gvxDXhsSTNTPh4Q==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>86f7aec7-3e30-46cc-b27c-7127e4c16cb3</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>dc8021be13a9663bfacea98b1b2b71e81b5b0e5fc25fc2717a330735765042a4</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>Agile users</string>
        <string>authenticated</string>
        <string>System_Software</string>
        <string># All 012 voip</string>
        <string>AWS_Jira_Users</string>
        <string>Allowed RODC Password Replication Group</string>
        <string>Users</string>
        <string>ActionBase Users</string>
        <string>Palo_Access_Aws_Azure-ssh</string>
        <string>Citrix_Allow_Visio</string>
        <string>Sp365-Devops-Read</string>
        <string># ClearCase R&amp;D</string>
        <string># All R&amp;D</string>
        <string># R&amp;D System Software</string>
        <string># All Lunch</string>
        <string>CatalogApps_Everyone</string>
        <string>Logistics_maintenance</string>
        <string># Gym</string>
        <string>365_Tas</string>
        <string>Password Manager Apply</string>
        <string># Agile users</string>
        <string># All ISRAEL</string>
        <string># SBC</string>
        <string>Offer Remote Assistance Helpers</string>
        <string>FTP_default</string>
        <string>Mailvision Branch Office Users</string>
        <string># SBC Infra App</string>
        <string>Linuxusers</string>
        <string>AudioCodes_VPN</string>
        <string># RnD Israel</string>
        <string>cc_sys_users</string>
        <string># All AudioCodes</string>
        <string>Certificate Service DCOM Access</string>
        <string>Domain Users</string>
        <string># All Airport City</string>
        <string>365_MFA_Apps</string>
      </roles>
      <timestamp>1582019107950</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.30">
      <emailAddress>Neomi.Hiddai@audiocodes.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>874b309936e8ebdc</seed>
    </jenkins.security.seed.UserSeedProperty>
  </properties>
</user>